.spaced-rep-subtitles {
    position: absolute;
    color: var(--color-font);
    font-family: var(--current-font);
    font-size: 1.2rem;
    display: flex;
    top: 2vh;
    right: 102px;
    top: 10px;
    right: 97px;
}
.archive-icon {
    position: relative;
    top: 8px;
    left: 8px;
    height: 32.5px;
    width: 32.5px;
    cursor: pointer;
    filter: invert(32%) sepia(7%) saturate(0%) hue-rotate(277deg) brightness(98%) contrast(89%); 
}
.rechteck {
    border: 10px solid var(--current-blue);
    width: 90%;
    height: calc(100% - 200px);
    position: absolute;
    top: 80px;
    left: calc(5% - 12px);
    border-radius: 20px;
    max-height: calc(100% - 120px);
    min-height: 180px;
}
.main-seperator {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 48px;
    width: calc(100% - 10px);
    height: 0px;
    border-top: 8px solid var(--current-gray);
    border-radius: 15px;
}