.spaced-rep-subtitles {
    position: absolute;
    color: var(--color-font);
    font-family: var(--current-font);
    font-size: 1.2rem;
    display: flex;
    top: 2vh;
    right: 102px;
    top: 10px;
    right: 97px;

}