.rechteck{
    border-top: 10px solid var(--current-blue);
    border-right: 12px solid var(--current-blue);
    border-left: 12px solid var(--current-blue);
    border-bottom: 10px solid var(--current-blue);
    width: 90%;
    height: calc(100% - 200px);
    position: absolute;
    top: 80px;
    left: calc(5% - 12px);
    border-radius: 30px;
    max-height: calc(100% - 120px);
    min-height: 180px ;
}

:root{
    --testing:1.7;
    --current-font: 'M PLUS 1', sans-serif;
    --color-font-gray: #c8c8c8;
    --current-gray-light: #f6f7fb;
    --size-tutorial: 0.1;
  }
  /* Variables used for testing different sizes with constant aspect ratios */

.flex-container{
position: relative;
display: flex;
justify-content: center;
margin: 120px;
}
  
.spaced-rep-button{
    position: absolute;
    left: 50%;
    top: 100%;
    font-family: var(--current-font);
    transform: translate(-50%, -50%);
    border-radius: 0.5vw;
    height: calc(5.1vh);
    width: calc(10.2vw);
    font-size: calc(1.2vw);
    background-color: #cdd0da;
    border:0;
    cursor: pointer;
}

.tutorial-button {
    position: absolute;
    right:2%;
    top:10%;
    color: #C0362c;
    background: var(--current-gray-light);
    font-size: 40px;
    font-family: var(--current-font);
    height: calc((100vh - 218px) * var(--size-tutorial) + 18px);
    width: calc(24vw *var(--size-tutorial) + 20px );
    border: 8px solid var(--color-font-gray);
    border-radius: 8px;
    cursor: pointer;
}
/* .study-spaced-repetition-tutorial{
    position:  absolute; 
    right: 50%;
    top: 10%;
    color:  #C0362c;
    background:  var(--current-gray-light);
    font-size:  40px;
    font-family:  var(--current-font);
    height:  calc((100vh - 218px) + 18px);
    width:  calc(24vw + 20px );
    border:  8px solid var(--color-font-gray);
    border-radius:  8px;
    cursor:                                   pointer;
}
*/

.study-spaced-repetition-tutorial{
    padding: 0 0 0 20px;
    box-shadow: 0 1px 4px var(--color-shadow);
    border-radius: 6px;
    border: 8px solid var(--color-font-gray);
    height: calc((69vh - 218px) + 18px);
    width: calc(14vw + 20px );
    text-align: center;
    z-index: 10;
    position: absolute;
    right: 20%;
    top: 20%;
    background-color: var(--current-gray-light);
}

.tutorial-sub{
    color: #000000;
    font-family: var(--current-font);
    font-size: 20px;
    position:relative;
    cursor: pointer;
    width: 105%;
    left:-7%;
    top: 1%;
    font-weight: bold;
}

.tutorial-spaced-repetition-buttons{
    position: absolute;
    left: 50%;
    top: 110%;
    font-family: var(--current-font);
    transform: translate(0%, -50%);
    border-radius: 0.5vw;
    height: calc(3vh);
    width: 3.4vw;
    font-size: 0.8vw;
    border:0;
    cursor: pointer;
    z-index: -1;
}

.tutorial-spaced-repetition-buttons:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.8);
}

.tutorial-spaced-repetition-buttons:focus {
    background-color: rgb(192, 11, 11);
    box-shadow: 0 5px 15px rgba(175, 175, 175, 0.8);
}

.color-picker{
    background:#8f0d0d;
    color:#C0362c;
}