.rechteck {
    border-top: 10px solid var(--current-blue-dark);
    border-right: 12px solid var(--current-blue-dark);
    border-left: 12px solid var(--current-blue-dark);
    border-bottom: 10px solid var(--current-blue-dark);
    width: 90%;
    height: calc(100% - 200px);
    position: absolute;
    top: 80px;
    left: calc(5% - 12px);
    border-radius: 30px;
    max-height: calc(100% - 120px);
    min-height: 180px;
}

:root {
    --size: 0.85;
    --button: 1.7;
    --testing:1.7;
  }
  /* Variables used for testing different sizes with constant aspect ratios */

.flex-container {
position: relative;
display: flex;
justify-content: center;
margin: 120px;
}
  
.spaced-rep-button {
    position: absolute;
    left: 50%;
    top: 100%;
    font-family: var(--current-font);
    transform: translate(-50%, -50%);
    border-radius: 0.5vw;
    height: calc(3vh*var(--testing));
    width: calc(7vw*var(--testing));
    font-size: calc(1.4vh*var(--testing));
    background-color: #cdd0da;
    border:0;
    cursor: pointer;
}

.color-picker {
    background:#9c420e;
}