/*In this file all classes for the terms of use, privacy policy and all other legal condition pages are defined*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap'); /*font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); /*sub heading font*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@850&display=swap'); /*heading font*/

.legal-main { /*main container*/
    display: flex; /*needed to push the footer down*/
    flex-direction: column; /*needed to push the footer down*/
    position: relative;
    left: 50%;
    top: 120px;
    transform: translate(-50%);
    width: calc(100% - 320px);
    max-width: 2400px;
    min-height: 100vh;
    padding: 40px 60px 80px 60px;
    margin-bottom: 320px;
}
.legal-main h1 { /*the big page heading (<h1/>) of legal-main*/
    font-size: 2.8rem;
    font-family: 'Heebo';
    background: linear-gradient(45deg, rgba(35, 170, 170, 1), rgba(40, 185, 125, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.legal-main h2 { /*all html sub headings (<h2/>) of legal-main*/
    font-size: 1.6rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    margin-top: 60px;
    margin-bottom: 12px;
}
.legal-main p { /*all html text paragraps (<p/>) of legal-main*/
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    line-height: 1.8rem;
    text-align: justify;
    margin-bottom: 0;
}
.legal-main ul { /*all html unordered lists (<ul/>) of legal-main*/
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    line-height: 1.8rem;
    text-align: justify;
    margin-bottom: 0;
}
.legal-main a { /*all html links (<a/>) of legal-main*/
    color: rgba(255, 255, 255, 1);
    transition: color 200ms;
}
.legal-main a:hover{ /*hover effect for all html links (<a/>) of legal-main*/
    color: rgba(200, 200, 200, 1);
}
.legal-main-table-container { /*container for tables enabling x-axis scrolling on smaller screens*/
    width: 100%;
    overflow-x: auto;
}
.legal-main-table-container table { /*all html tables (<table/>) of legal-main-table-container*/
    min-width: 100%;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    line-height: 1.6rem;
    text-align: left;
    margin-top: 16px;
    border-spacing: 0; /*removes space between cells*/
    border-collapse: collapse; /*removes double border where cells touch*/
}
.legal-main-table-container thead { /*all html table header rows (<thead/>) of legal-main-table-container*/
    background-color: rgba(55, 55, 55, 0.75);
}
.legal-main-table-container th, td { /*all html table (header) cells (<th/>, <td/>) of legal-main-table-container*/
    min-width: 100px;
    vertical-align: top;
    border: 1px solid rgba(96, 96, 96, 1);
    padding: 8px;
}

@media (max-width: 960px) { /*removes space at the sides on small screens*/
    .legal-main {
        top: 60px;
        width: calc(100% - 40px);
        padding: 40px 0 80px 0;
    }
}

@media (max-width: 240px) { /*hides the content on too small screens (when the warning modal is open)*/
    .legal-main {
        display: none;
    }
}