/*In this file all classes for the terms of use, privacy policy and all other legal condition pages are defined*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap'); /*font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); /*sub heading font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); /*header font*/

.legal-main { /*main container*/
    display: flex; /*needed to push the footer down*/
    flex-direction: column; /*needed to push the footer down*/
    min-height: 100vh; /*needed to push the footer down*/
    margin-top: 100px;
    margin-bottom: 200px;
}
.legal-main h1 { /*the big page heading (<h1/>) of legal-main */
    font-size: 3.4rem;
    font-family: 'Heebo';
    background: linear-gradient(45deg, rgba(35, 170, 170, 1), rgba(40, 185, 125, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.legal-main h2 { /*all html sub headings (<h2/>) of legal-main */
    font-size: 2rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    margin-top: 60px;
    margin-bottom: 12px;
}
.legal-main p { /*all html text paragraps (<p/>) of legal-main */
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    line-height: 1.8rem;
    margin-bottom: 0;
}
.legal-main a { /*all html links (<a/>) of legal-main */
    color: rgba(255, 255, 255, 1);
    transition: color 200ms;
}
.legal-main a:hover{ /*all html links (<a/>) of legal-main */
    color: rgba(200, 200, 200, 1);
}