/*These styles are used for the product page (formerly known as start page) and some similar pages.*/

body {
    background-color: #202020;
}

.product-header { /*the header box at the top of the page*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 6px 6px #151515;
}

.product-header-logo { /*logo formatting used for the header*/
    position: absolute;
    left: 80px;
    top: 50%;
    transform: translate(0, -50%);
    height: 35px;
    cursor: pointer;
}