/*The product banner is an area at the top with the product page with a slogan and a get started button redirecting to the register page*/

@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap'); /*italic serif font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); /*button font*/


.product-banner { /*banner box, background and position*/
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    background-color: rgba(42, 42, 42, 1);
}

@media (max-width: 320px) {
    .product-banner {
        display: none;
    }
}