/*The product banner is an area at the top with the product page with a slogan and a get started button redirecting to the register page*/

@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap'); /*italic serif font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); /*button font*/


.product-banner { /*banner box, background and position*/
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 62px;
    background-color: rgba(42, 42, 42, 1);
    overflow: hidden;
}

.product-banner-text { /*text for slogan*/
    position: absolute;
    color: rgba(255, 255, 255, 1);
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: italic;
    font-size: 3rem;
    font-family: 'Kaisei HarunoUmi';
    text-align: center;
}

.product-banner-get-started { /*register button, needed to be split in multiple classes, this class is for the positionig of the button*/
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}
.product-banner-get-started-text { /*text which is not supposed to change color*/
    position: absolute;
    left: 50%;
    top: 22px;
    transform: translate(-50%);
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    text-decoration: none;
    white-space: nowrap;
}
.product-banner-get-started-background { /*the hover background was done in React because it did not work in CSS*/
    width: 240px;
    height: 60px;
    padding: 8px 10px 8px 10px;
    border-radius: 6px;
    background: linear-gradient(45deg, rgba(35, 170, 170, 1), rgba(40, 185, 125, 1));
    cursor: pointer;
    transition: 200ms;
}

.product-banner-bottom-transition { /*the shape at the bottom is an overlay in the same color as se next section*/
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(32, 32, 32, 1);
}
.product-banner-bottom-transition-shape { /*trapezoid shape*/
    position: absolute;
    left: 50%;
    transform: translate(-50%);
	border-left: 50px solid rgba(0, 0, 0, 0);
	border-right: 50px solid rgba(0, 0, 0, 0);
    border-top: 50px solid rgba(42, 42, 42, 1);
	height: 0;
	width: 40%;
}

@media (max-width: 320px) {
    .product-banner {
        display: none;
    }
}