/*These styles are used for the product page (formerly known as start page) footer and some similar pages.*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap'); /*font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); /*header font*/

.product-footer { /*basic footer styles*/
    position: absolute;
    margin-top: auto;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(18, 18, 18, 1);
}

@media (max-width: 320px) {
    .product-footer {
        display: none;
    }
}