/*The product banner is an area at the top with the product page with a slogan and a get started button redirecting to the register page*/

@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap'); /*italic serif font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); /*button font*/


.product-banner { /*banner box, background and position*/
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    min-height: 420px; /*fixes issues for screens not high enough*/
    left: 0;
    top: 62px;
    background: linear-gradient(rgba(36, 36, 36, 1), rgba(54, 54, 60, 1));
    overflow: hidden;
}

.product-banner-background-triangle-top { /*background triangle at the upper right corner*/
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-left: 50vh solid rgba(0, 0, 0, 0);
    border-top: 50vh solid rgba(54, 54, 60, 0.5);
}
.product-banner-background-triangle-bottom { /*background triangle at the lower left corner*/
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 50vh solid rgba(0, 0, 0, 0);
    border-bottom: 50vh solid rgba(36, 36, 36, 0.5);
}

.product-banner-content { /*positioning for the text and button*/
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.product-banner-text { /*text for slogan*/
    color: rgba(255, 255, 255, 1);
    width: 80vw;
    max-width: 800px;
    font-style: italic;
    font-size: 3rem;
    font-family: 'Kaisei HarunoUmi';
    text-align: center;
    margin: 0 0 5rem 0;
}

.product-banner-get-started { /*register button, needed to be split in multiple classes, this class is for the positionig of the button*/
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.product-banner-get-started-text { /*text which is not supposed to change color*/
    position: absolute;
    left: 50%;
    top: 1.4rem;
    transform: translate(-50%);
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    text-decoration: none;
    white-space: nowrap;
}
.product-banner-get-started-background { /*the hover background was done in React because it did not work in CSS*/
    width: 240px;
    height: 60px;
    padding: 8px 10px 8px 10px;
    border-radius: 6px;
    background: linear-gradient(45deg, rgba(35, 170, 170, 1), rgba(40, 185, 125, 1));
    cursor: pointer;
    transition: filter 200ms;
}

.product-banner-bottom-transition { /*the shape at the bottom is an overlay in the same color as se next section*/
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(32, 32, 32, 1);
}
.product-banner-bottom-transition-shape-left { /*trapezoid shape at the left*/
    position: absolute;
    left: 0;
    bottom: 40px;
	border-right: 50px solid rgba(0, 0, 0, 0);
    border-bottom: 50px solid rgba(32, 32, 32, 1);
	height: 0;
	width: 30vw;
}
.product-banner-bottom-transition-shape-right { /*trapezoid shape at the left*/
    position: absolute;
    right: 0;
    bottom: 40px;
	border-left: 50px solid rgba(0, 0, 0, 0);
    border-bottom: 50px solid rgba(32, 32, 32, 1);
	height: 0;
	width: 30vw;
}

@media (max-width: 960px) { /*the bottom transition shapes are smaller on mobile devices to look better*/
    .product-banner-bottom-transition-shape-left {
        width: 20vw;
    }
    .product-banner-bottom-transition-shape-right {
        width: 20vw;
    }
}

@media (max-width: 720px) { /*adjusting too big text*/
    .product-banner-text {
        font-size: 2.2rem;
    }
    .product-banner-get-started-text {
        top: 1.1rem;
        font-size: 1.4rem;
    }
    .product-banner-get-started-background {
        width: 180px;
        height: 45px;
    }
}

@media (max-width: 320px) { /*hides all at too small screens in order to show no responsive bugs*/
    .product-banner {
        display: none;
    }
}