/*These styles are used for the product page (formerly known as start page) header and some similar pages.*/

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); /*font*/

.product-header { /*the header box at the top of the page*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 62px;
    background-color: rgba(32, 32, 32, 1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    transition: bottom 200ms;
    z-index: 1;
}

.product-header-text-gradient { /*for the text gradient of link texts*/
    font-weight: 600;
    background: linear-gradient(45deg, rgba(35, 170, 170, 1), rgba(40, 185, 125, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-header-logo { /*logo formatting used for the header*/
    position: absolute;
    left: 80px;
    top: calc(50% - 1px);
    transform: translate(0, -50%);
    height: 35px;
    cursor: pointer;
}

.product-header-quicklink-box { /*used for the header links like product, about, downloads etc.*/
    position: absolute;
    left: 240px;
    top: calc(50% - 1px);
    transform: translate(0, -50%);
    width: calc(100% - 240px);
    height: 40%;
}

.product-header-quicklink-box-space { /*only for small screens*/
    display: none;
}

.product-header-quicklink { /*link texts*/
    display: inline;
    position: relative;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    text-decoration: none;
    margin-right: 30px;
    padding: 4px 6px 4px 6px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 200ms;
}
.product-header-quicklink:hover { /*for the fading background box on hover*/
    background-color: rgba(55, 55, 55, 0.75);
}

.product-header-language-button { /*button to change language*/
    position: absolute;
    right: 385px;
    top: calc(50% - 1px);
    transform: translate(0, -50%);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-color 200ms;
}
.product-header-language-button:hover { /*visible border on hover*/
    background-color: rgba(55, 55, 55, 0.75);
}
.product-header-language-icon { /*change language mode symbol*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 85%;
    filter: invert(0.78431372549019607843137254901961);
}

.product-header-visual-mode-button { /*button to swich between light and dark mode*/
    position: absolute;
    right: 335px;
    top: calc(50% - 1px);
    transform: translate(0, -50%);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-color 200ms;
}
.product-header-visual-mode-button:hover { /*visible border on hover*/
    background-color: rgba(55, 55, 55, 0.75);
}
.product-header-visual-mode-icon { /*light and dark mode symbol*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border: 3px solid rgba(200, 200, 200, 1);
    border-radius: 50%; /*creates the circle shape*/
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 55%, rgba(200, 200, 200, 1) 45%); /*half intransparent circle*/
}

.product-header-sign-in { /*Sign in button*/
    position: absolute;
    right: 200px;
    top: calc(50% - 1px);
    transform: translate(0, -50%);
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    text-decoration: none;
    padding: 4px 6px 4px 6px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 200ms;
}
.product-header-sign-in:hover { /*for the fading background box on hover*/
    background-color: rgba(55, 55, 55, 0.75);
}

.product-header-register { /*register button, needed to be split in multiple classes, this class is for the positionig of the button*/
    position: absolute;
    right: 80px;
    top: calc(50% - 1px);
    transform: translate(0, -50%);
}
.product-header-register-text { /*text which is not supposed to change color*/
    position: absolute;
    left: 50%;
    top: 8px;
    transform: translate(-50%);
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    text-decoration: none;
}
.product-header-register-background { /*the hover background was done in React because it did not work in CSS*/
    width: 74px;
    height: 22px;
    padding: 8px 10px 8px 10px;
    border-radius: 6px;
    background: linear-gradient(45deg, rgba(35, 170, 170, 1), rgba(40, 185, 125, 1));
    cursor: pointer;
    transition: filter 200ms;
}

.product-header-mobile-sidebar-button { /*toggle button for small screen expandable side bar*/
    display: none; /*the button is hidden by default*/
    position: absolute;
    right: 15px;
    top: calc(50% - 1px);
    transform: translate(0, -50%);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-color 200ms;
}
.product-header-mobile-sidebar-button:hover { /*visible border on hover*/
    background-color: rgba(55, 55, 55, 0.75);
}
.product-header-mobile-sidebar-icon { /*expand sidebar for small screens symbol*/
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(200, 200, 200, 1);
    font-family: 'Rubik';
    letter-spacing: 3px;
    text-align: center;
    transform: rotate(90deg);
}

.product-header-sign-in-alt { /*alternative button for mobile screens*/
    display: none;
}

.product-header-register-alt { /*alternative button for mobile screens*/
    display: none;
}

.product-header-scroll-indicator { /*scroll indicator bar at the bottom*/
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 2px;
    background: linear-gradient(45deg, rgba(35, 170, 170, 1), rgba(40, 185, 125, 1));
}

@media (max-width: 1160px) { /*changes for medium screen sizes (e.g. tablets, smaller laptops etc.)*/
    /*many objects are rendered closer to the edge and closer together to fit on a smaller width*/
    
    .product-header-logo {
        left: 10px;
    }

    .product-header-quicklink-box {
        left: 150px;
        width: calc(100% - 150px);
    }
    .product-header-quicklink {
        margin-right: 20px;
    }

    .product-header-language-button {
        right: 315px;
    }

    .product-header-visual-mode-button {
        right: 265px;
    }

    .product-header-sign-in {
        right: 120px;
    }

    .product-header-register {
        right: 10px;
    }
}

@media (max-width: 960px) { /*changes for small screen sizes (e.g. mobile devices)*/
    /*many links are now hidden and can be shown in a seperate expandable window*/

    .product-header-quicklink-box { /*changes to mobile sidebar*/
        left: unset;
        top: 62px;
        transform: translate(0, 0);
        width: 262px;
        max-width: 100%;
        height: calc(100vh - 60px);
        border-top: 1px solid rgba(200, 200, 200, 1);
        box-shadow:  0 10px 5px 5px rgba(0, 0, 0, 0.4);
        background-color: rgba(32, 32, 32, 1);
        overflow: auto;
        transition: right 600ms;
    }

    .product-header-quicklink-box-space {
        display: block;
        position: absolute;
        top: 390px;
        width: 100%;
        height: 10px;
    }
    
    .product-header-quicklink { /*rearranging links and changing design*/
        display: block;
        left: 50%;
        transform: translate(-50%);
        width: calc(100% - 70px);
        text-align: left;
        padding: 16px 16px 16px 16px;
        border-bottom: 1px solid rgba(200, 200, 200, 1);
        border-radius: 0;
    }

    .product-header-visual-mode-button {
        right: 3px;
        top: 375px;
        transform: translate(-50%, -50%);
    }

    .product-header-language-button {
        right: 43px;
        top: 375px;
        transform: translate(-50%, -50%);
    }

    .product-header-sign-in {
        top: 320px;
        left: 35px;
        transform: translate(0, -50%);
        width: 62px;
    }

    .product-header-register {
        top: 320px;
        right: 35px;
        transform: translate(0, -50%);
    }

    .product-header-sign-in-alt { /*sign in button staying at the top*/
        display: block;
        position: absolute;
        right: 160px;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 1);
        font-family: 'Rubik';
        text-decoration: none;
        padding: 4px 6px 4px 6px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 200ms;
    }
    .product-header-sign-in-alt:hover { /*for the fading background box on hover*/
        background-color: rgba(55, 55, 55, 0.75);
    }

    .product-header-register-alt { /*register button staying at the top*/
        display: block;
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translate(0, -50%);
    }

    .product-header-mobile-sidebar-button {
        display: block;
    }
}

@media (max-width: 360px) { /*hiding overlapping items on very small screen sizes*/
    .product-header-sign-in-alt {
        display: none;
    }

    .product-header-register-alt {
        display: none;
    }
}

@media (max-width: 180px) { /*visual fix for too small screens*/
    .product-header-mobile-sidebar-button {
        display: none;
    }
}