/*These styles are used for the product page (formerly known as start page) and some similar pages.*/

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); /*header font*/

body {
    background-color: rgba(32, 32, 32, 1);
}


/*header:*/

.product-header { /*the header box at the top of the page*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 6px 6px rgba(21, 21, 21, 1);
}

.product-header-text-gradient { /*for the text gradient of link texts*/
    font-weight: 600;
    background: linear-gradient(45deg, rgb(35, 170, 170, 1), rgb(40, 185, 125, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-header-logo { /*logo formatting used for the header*/
    position: absolute;
    left: 80px;
    top: 50%;
    transform: translate(0, -50%);
    height: 35px;
    cursor: pointer;
}

.product-header-quicklink-box { /*used for the header links like product, about, downloads etc.*/
    position: absolute;
    left: 240px;
    top: 50%;
    transform: translate(0, -50%);
    width: calc(100% - 240px);
    height: 40%;
}

.product-header-quicklink { /*link texts*/
    display: inline;
    position: relative;
    font-size: larger;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    text-decoration: none;
    margin-right: 40px;
    padding: 4px 6px 4px 6px;
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms;
}
.product-header-quicklink:hover { /*for the fading background box on hover*/
    background-color: rgb(55, 55, 55, 0.75);
}

.product-header-sign-in { /*Sign in button*/
    position: absolute;
    right: 200px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: larger;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    text-decoration: none;
    padding: 4px 6px 4px 6px;
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms;
}
.product-header-sign-in:hover { /*for the fading background box on hover*/
    background-color: rgb(55, 55, 55, 0.75);
}

.product-header-register { /*register button, needed to be split in multiple classes, this class is for the positionig of the button*/
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translate(0, -50%);
}
.product-header-register-text { /*text which is not supposed to change color*/
    position: absolute;
    left: 50%;
    top: 8px;
    transform: translate(-50%);
    font-size: larger;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    text-decoration: none;
}
.product-header-register-background { /*the hover background was done in React because it did not work in CSS*/
    width: 74px;
    height: 22px;
    padding: 8px 10px 8px 10px;
    border-radius: 6px;
    background: linear-gradient(45deg, rgba(35, 170, 170, 1), rgba(40, 185, 125, 1));
    cursor: pointer;
    transition: 200ms;
}

.product-header-visual-mode-button { /*button to swich between light and dark mode*/
    position: absolute;
    right: 340px;
    top: 50%;
    transform: translate(0, -50%);
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: 200ms;
}
.product-header-visual-mode-button:hover { /*visible border on hover*/
    background-color: rgb(55, 55, 55, 0.75);
}
.product-header-visual-mode-icon { /*light and dark mode symbol*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border: 3px solid rgba(200, 200, 200, 1);
    border-radius: 50%; /*creates the circle shape*/
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 55%, rgba(200, 200, 200, 1) 45%); /*half intransparent circle*/
}

.product-header-language-button { /*button to change language*/
    position: absolute;
    right: 400px;
    top: 50%;
    transform: translate(0, -50%);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: 200ms;
}
.product-header-language-button:hover { /*visible border on hover*/
    background-color: rgb(55, 55, 55, 0.75);
}
.product-header-language-icon { /*change language mode symbol*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    filter: invert(0.78431372549019607843137254901961);
}