/*These styles define the main layout of the product (start) page*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap'); /*font*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap'); /*large header font*/

.product-main { /*just used for layout adjustment*/
    margin-top: 100vh;
}

.product-main-header { /*header font styling*/
    font-size: 3.4rem;
    font-family: 'Kanit';
    background: linear-gradient(45deg, rgba(35, 170, 170, 1), rgba(40, 185, 125, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-main-text { /*text font styling*/
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    line-height: 1.8rem;
}

.product-main-image { /*image optimization*/
    max-width: 99%;
}