/*Tese styles are used for the alert showing on too small screens*/

.window-size-alert-backdrop { /*backdrop for warning*/
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 3;
}

.window-size-alert { /*container and text formatting*/
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    min-width: 100px;
    max-width: calc(100% - 32px);
    max-height: 90vh;
    text-align: center;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    padding: 12px 12px 12px 12px;
    border-radius: 12px;
    background-color: rgba(32, 32, 32, 1);
}

.window-size-alert-header { /*container header*/
    background: linear-gradient(45deg, rgba(35, 170, 170, 1), rgba(40, 185, 125, 1));
    font-size: 1.2rem;
    font-family: 'Rubik';
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 240px) { /*defining screen width for showing the warning*/
    .window-size-alert-backdrop {
        display: block;
    }

    .window-size-alert {
        display: block;
    }
}