/*Tese styles are used for the alert showing on too small screens*/

.window-size-alert-backdrop { /*backdrop for warning*/
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.window-size-alert {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    max-width: 90vw;
    max-height: 90vh;
    background-color: rgba(21, 21, 21, 1);
}

@media (max-width: 240px) { /*defining screen width for showing the warning*/
    .window-size-alert-backdrop {
        display: block;
    }
}

@media (max-height: 120px) { /*defining screen height for showing the warning*/
    .window-size-alert-backdrop {
        display: block;
    }
}