/*styles for the language select modal*/

.website-language-select { /*language select modal/box*/
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: calc(100% - 40px);
    max-height: calc(100% - 40px);
    background-color: var(--color-background);
    border-radius: 12px;
    transition: transform 400ms, opacity 400ms; /*fade in/out animation transition*/
    z-index: 4;
    overflow-y: auto;
}

.website-language-select-close { /*x-button for closing modal*/
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-transparent);
    cursor: pointer;
    transition: background-color 200ms;
}
.website-language-select-close::after { /*x-shape*/
    content: '\d7'; /*symbol for shape*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: var(--color-font-gray);
}
.website-language-select-close:hover { /*background on hover*/
    background-color: var(--color-hover);
}

.website-language-select-title { /*modal title*/
    font-size: 1.8rem;
    color: var(--color-font);
    font-family: var(--font-highlight);
    text-align: center;
    margin: 32px 20px 24px 20px;
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.website-language-select-languages { /*language list*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
    font-size: 1.4rem;
    color: var(--color-font);
    font-family: var(--font-highlight);
    line-height: 2.4rem;
    text-align: center;
    list-style: none;
    padding-left: 0;
    margin-top: 40px;
    margin-bottom: 32px;
}
.website-language-select li { /*single language items*/
    cursor: pointer;
    padding: 2px 8px 2px 8px;
    margin-inline: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    transition: background-color 200ms;
}
.website-language-select li:hover { /*for the fading background box on hover*/
    background-color: var(--color-hover);
}

@media (max-width: 380px) { /*fixes overlapping with title and colose button*/
    .website-language-select-title {
        margin-top: 48px;
    }
}

@media (max-width: 240px) { /*hides modal on to small screens*/
    .website-language-select {
        display: none;
    }
}