.flashcard-body {
    position: relative;
    width: 200px;
    top: 20px;
    height: 280px;
    /*only for the add flashcard button*/
    display: inline-block;
    margin-bottom: 40px;
    min-height: 160px;
    max-height: 320px;
    border-radius: 10px;
}

.flashcard-settings-bar {
    position: absolute;
    width: calc(100% - 10px);
    height: 30px;
    background-color: var(--current-gray-light);
    border-top: 6px solid var(--current-gray);
    border-left: 6px solid var(--current-gray);
    border-right: 6px solid var(--current-gray);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.flashcard-settings {
    position: absolute;
    right: 1px;
    top: 1px;
    height: 10px;
    width: 25px;
    background-color: var(--color-transparent);
    border: 5px solid var(--color-transparent);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.flashcard-settings:hover {
    transform: scale(1.3);
}

@media (max-width: 620px) {

    /*responsiveness for flashcard layout*/
    .flashcard-base-grid {
        width: 420px;
    }

    .flashcard-body {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width: 505px) {

    /*responsiveness for flashcard layout*/
    .flashcard-base-grid {
        width: 200px;
    }

    .flashcard-body {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}