/*These styles define the main layout of the product (start) page*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap'); /*font*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap'); /*large header font*/

.product-main { /*just used for layout adjustment*/
    margin-top: 100vh;
    margin-bottom: 200px;
}

.product-main-container { /*contains all of the main sections, is used for positioning*/
    margin: 120px 20px 0 20px;
}
.product-main-container-sub { /*sub containers with the text inside*/
    align-self: center;
}
.product-main-container-sub-image { /*sub containers with the image inside*/
    align-self: center;
}

.product-main-header { /*header font styling*/
    font-size: 3.2rem;
    font-family: 'Kanit';
    line-height: 3.2rem;
    background: linear-gradient(45deg, rgba(35, 170, 170, 1), rgba(40, 185, 125, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-main-text { /*text font styling*/
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    line-height: 2rem;
}

.product-main-image { /*image optimization*/
    width: 100%;
    border-radius: 10px;
}

@media (min-width: 960.5px) { /*adding complexity for larger screens (e.g two columns), therefore it is min-width*/
    .product-main-container {
        display: flex;
        margin: 160px 40px 80px 40px;
    }
    .product-main-container > * + * { /*children of container*/
        margin-left: 60px;
    }
    .product-main-container-sub { /*text width*/
        flex-basis: 45%;
    }
    .product-main-container-sub-image { /*image width*/
        flex-basis: 55%;
    }
}

@media (max-width: 240px) { /*hiding content for too small screens (where the warning displays)*/
    .product-main {
        display: none;
    }
}