/*These styles define the main layout of the product (start) page*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap'); /*font*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap'); /*large header font*/

.product-main { /*just used for layout adjustment*/
    margin-top: 100vh;
    margin-bottom: 200px;
}

.product-main-container { /*contains all of the main sections, is used for positioning*/
    margin: 80px 20px 0 20px;
}

.product-main-header { /*header font styling*/
    font-size: 3.2rem;
    font-family: 'Kanit';
    line-height: 3.2rem;
    background: linear-gradient(45deg, rgba(35, 170, 170, 1), rgba(40, 185, 125, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-main-text { /*text font styling*/
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    line-height: 2rem;
}

.product-main-image { /*image optimization*/
    width: 100%;
}

@media (min-width: 960px) { /*adding complexity for larger screens (e.g two columns), therefore it is min-width*/
    .product-main-container {
        display: flex;
    }
}

@media (max-width: 240px) {
    .product-main {
        display: none;
    }
}