/*styles used for the cookie banner settings view (when clicking the moreinformation-button)*/

.cookie-banner-settings-backdrop { /*backdrop for settings view*/
    position: fixed;
    left: 50%;
    top: calc(-50vh + 60px);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 3;
}

.cookie-banner-settings { /*settings view box*/
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    max-width: calc(100% - 40px);
    height: 700px;
    max-height: calc(100% - 40px);
    background-color: rgba(32, 32, 32, 1);
    border-radius: 12px;
}

.cookie-banner-settings-title { /*cookie settings title*/
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    text-align: center;
    margin-top: 40px;
}

.cookie-banner-settings-description { /*main description for the banner*/
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    line-height: 1.5rem;
    text-align: center;
    margin: 40px 96px 40px 96px;
}

.cookie-banner-settings-container { /*contains toggle switches and labels*/
    margin-bottom: 40px;
}

.cookie-banner-settings-label  { /*label for toggle switches*/
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    margin-left: 40px;
}

.cookie-banner-settings-info { /*description for the different labels*/
    display: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    line-height: 1.5rem;
    margin-left: 40px;
    width: calc(100% - 200px);
}

.cookie-banner-settings-switch { /*toggle switch*/
    position: absolute;
    right: 20px;
    transform: translate(-50%, -56px);
    width: 60px;
    height: 34px;
}
.cookie-banner-settings-switch input { /*hides default checkbox*/
    display: none;
}
.cookie-banner-settings-switch-slider { /*toggle slider background shape*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: rgba(18, 18, 18, 1);
    transition: 400ms;
    cursor: pointer;
}
.cookie-banner-settings-switch-slider:before { /*slider knob (the circle)*/
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: rgba(54, 54, 54, 1);
    transition: background-color 400ms;
    transition: transform 400ms;
}
.cookie-banner-settings-switch input:checked + .cookie-banner-settings-switch-slider { /*background color change on toggle*/
    background-color: rgb(72, 180, 180);
} 
.cookie-banner-settings-switch input:checked + .cookie-banner-settings-switch-slider:before { /*knob position change on toggle*/
    transform: translateX(26px);
}

.cookie-banner-settings-save { /*save current button*/
    position: absolute;
    left: 64px;
    bottom: 32px;
    transform: translate(0, -50%);
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    text-decoration: none;
    padding: 4px 6px 4px 6px;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-color 200ms;
}
.cookie-banner-settings-save:hover { /*hover effect on button*/
    background-color: rgba(55, 55, 55, 0.75);
}

.cookie-banner-settings-accept { /*accept button, needed to be split in multiple classes, this class is for the positionig of the button*/
    position: absolute;
    right: 64px;
    bottom: 16px;
    transform: translate(0, -50%);
    width: calc(50% - 80px);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}
.cookie-banner-settings-accept-text { /*text which is not supposed to change color*/
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    text-decoration: none;
    white-space: nowrap;
}
.cookie-banner-settings-accept-background { /*the hover background was done in React because it did not work in CSS*/
    width: 100%;
    height: 30px;
    padding: 8px 10px 8px 10px;
    border-radius: 6px;
    background: linear-gradient(45deg, rgba(35, 170, 170, 1), rgba(40, 185, 125, 1));
    transition: 200ms;
}

@media (max-width: 960px) {
    .cookie-banner-settings-backdrop {
        top: calc(-50vh + 120px);
    }
}

@media (max-width: 360px) {
    .cookie-banner-settings-backdrop {
        top: calc(-50vh + 160px);
    }
}