/*styles used for the cookie banner settings view (when clicking the moreinformation-button)*/

.cookie-banner-settings-backdrop { /*backdrop for settings view*/
    position: fixed;
    left: 50%;
    top: calc(-50vh + 60px);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 3;
}

.cookie-banner-settings { /*settings view box*/
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    max-width: calc(100% - 40px);
    height: 700px;
    max-height: calc(100% - 40px);
    background-color: rgba(32, 32, 32, 1);
    border-radius: 12px;
}

.cookie-banner-settings-title { /*cookie settings title*/
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    text-align: center;
    margin-top: 40px;
    background: linear-gradient(45deg, rgba(35, 170, 170, 1), rgba(40, 185, 125, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cookie-banner-settings-scroll-field { /*container for scrollable items*/
    position: absolute;
    height: calc(100% - 200px);
    padding-top: 10px;
    margin-top: -20px;
    overflow-y: auto;
}

.cookie-banner-settings-description { /*main description for the banner*/
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    line-height: 1.5rem;
    text-align: justify;
    margin: -10px 40px 30px 40px;
}

.cookie-banner-settings-container { /*contains toggle switches and labels*/
    margin-inline: 40px;
    padding: 8px 40px 24px 40px;
    border-radius: 6px;
    background-color: rgba(55, 55, 55, 1);
}

.cookie-banner-settings-label  { /*label for toggle switches*/
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    margin-bottom: -10px;
}
.cookie-banner-settings-label-description { /*label description texts*/
    width: calc(100% - 50px);
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    line-height: 1.2rem;
    text-align: justify;
}

.cookie-banner-settings-switch-slider-static { /*static slider background shape*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    background-color: rgba(35, 170, 170, 1);
    filter: saturate(0.4);
    cursor: pointer;
}
.cookie-banner-settings-switch-slider-static:before { /*static slider knob (the circle)*/
    content: '';
    position: absolute;
    right: 4px;
    top: 4px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgba(54, 54, 54, 1);
}

.cookie-banner-settings-switch { /*toggle switch*/
    position: absolute;
    right: 70px;
    transform: translate(0, -120px);
    width: 40px;
    height: 24px;
}
.cookie-banner-settings-switch input { /*hides default checkbox*/
    display: none;
}
.cookie-banner-settings-switch-slider { /*toggle slider background shape*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    background-color: rgba(18, 18, 18, 1);
    transition: background-color 400ms;
    cursor: pointer;
}
.cookie-banner-settings-switch-slider:before { /*slider knob (the circle)*/
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgba(54, 54, 54, 1);
    transition: transform 400ms;
}
.cookie-banner-settings-switch input:checked + .cookie-banner-settings-switch-slider { /*background color change on toggle*/
    background-color: rgba(35, 170, 170, 1);
} 
.cookie-banner-settings-switch input:checked + .cookie-banner-settings-switch-slider:before { /*knob position change on toggle*/
    transform: translateX(16px);
}

.cookie-banner-settings-links { /*further information links at the bottom*/
    display: flex; /*display: flex creates columns*/
    position: relative;
    width: calc(100% + 40px);
    margin-inline: -20px;
    margin-top: 24px;
    text-align: center;
}
.cookie-banner-settings-links > * { /*layout optimization*/
    flex: 1; /*used for equal columns*/
}
.cookie-banner-settings-link { /*link font style*/
    font-size: 0.95rem;
    color: rgba(200, 200, 200, 1);
    font-family: 'Inter';
    text-decoration: none;
    cursor: pointer;
    transition: color 200ms;
}
.cookie-banner-settings-link:hover { /*link hover effect*/
    color: rgba(255, 255, 255, 1);
}

.cookie-banner-settings-save { /*save current button*/
    position: absolute;
    left: 40px;
    bottom: 6px;
    transform: translate(0, -50%);
    width: calc(50% - 80px);
    height: 30px;
    padding: 8px 10px 8px 10px;
    background-color: rgba(55, 55, 55, 1);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 200ms;
}
.cookie-banner-settings-save:hover { /*hover effect on button*/
    background-color: rgba(55, 55, 55, 0.65);
}
.cookie-banner-settings-save-text { /*text which is not supposed to change color*/
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    text-decoration: none;
    white-space: nowrap;
}

.cookie-banner-settings-accept { /*accept button, needed to be split in multiple classes, this class is for the positionig of the button*/
    position: absolute;
    right: 50px;
    bottom: 6px;
    transform: translate(0, -50%);
    width: calc(50% - 80px);
    padding: 0 10px 0 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}
.cookie-banner-settings-accept-text { /*text which is not supposed to change color*/
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    text-decoration: none;
    white-space: nowrap;
}
.cookie-banner-settings-accept-background { /*the hover background was done in React because it did not work in CSS*/
    width: 100%;
    height: 30px;
    padding: 8px 10px 8px 10px;
    border-radius: 6px;
    background: linear-gradient(45deg, rgba(35, 170, 170, 1), rgba(40, 185, 125, 1));
    transition: 200ms;
}

@media (max-width: 960px) {
    .cookie-banner-settings-backdrop {
        top: calc(-50vh + 120px);
    }
}

@media (max-width: 360px) {
    .cookie-banner-settings-backdrop {
        top: calc(-50vh + 160px);
    }
}