#Memoriter_name {
	left: 40px;
	top: 40px;
	position: absolute;
	width: 96px;
	text-align: left;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#Home_title {
	position:relative;
	top: 40px;
	text-align: center;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Rechteck_outside {
	fill: transparent;
	stroke: rgba(39,75,101,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rechteck_outside {
	position: absolute;
	overflow: visible;
	width: 1736px;
	height: 646px;
}
#FileOverview_subtitle {
	color: white;
	font-family: "Helvetica Neue";
	font-size: 30px; 
	line-height: 40px;
	position: relative;
	top: 40px;
	text-align: center;
	letter-spacing: 1px;
}
#settings {
	position: absolute;
	width: 83px;
	height: 83px;
	left: 1715px;
	top: 172px;
	cursor: pointer;
}
#Gear {
	fill: transparent;
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 83px;
}
#n_Color_bp {
	fill: rgba(112,112,112,1);
}
.n_Color_bp {
	overflow: visible;
	position: absolute;
	width: 64.68px;
	height: 65.708px;
	left: 10.78px;
	top: 8.646px;
	transform: matrix(1,0,0,1,0,0);
}
#Innen_Abtrennung {
	fill: rgba(0,0,0,0);
	stroke: rgba(58,109,112,1);
	stroke-width: 7.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	overflow: visible;
	position: relative;
}
.Innen_Abtrennung {
	overflow: visible;
	position: relative;
	width: 1800.023px;
	height: 7.5px;
	left: -32.024px;
	top: 106.5px;
	transform: matrix(1,0,0,1,0,0);
}
#core-component-XF-footer {
	position: absolute;
	width: 1366px;
	height: 260px;
	left: 251px;
	top: 820px;
	overflow: visible;
}
#background {
	fill: rgba(53,53,53,1);
}
#Impressum {
	left: 141px;
	top: 190px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	cursor: pointer;
	line-height: 28px;
	margin-top: -6px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(39,75,101,1);
}
#core-component-separator {
	position: absolute;
	width: 1084px;
	height: 40px;
	left: 141px;
	top: 152px;
	overflow: visible;
}
#background_bu {
	fill: transparent;
}
.background_bu {
	position: absolute;
	overflow: visible;
	width: 1084px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#separator {
	fill: rgba(112,112,112,1);
}
.separator {
	position: absolute;
	overflow: visible;
	width: 1084px;
	height: 2px;
	left: 0px;
	top: 19px;
}
#container-right {
	position: absolute;
	width: 95px;
	height: 25px;
	left: 141px;
	top: 44px;
	overflow: visible;
}
#Memoriter {
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#Social_-_Follow_Wireframe {
	position: absolute;
	width: 123px;
	height: 40px;
	left: 1010px;
	top: 37px;
	overflow: visible;
}
#Follow_us {
	width: 64px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -6px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Icon_-_Instagram {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 83px;
	top: 0px;
	overflow: visible;
}
#background_b {
	fill: rgba(112,112,112,1);
}
.background_b {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#icons {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 10px;
	top: 10px;
	overflow: visible;
}
#instagram-167 {
	fill: rgba(255,255,255,1);
}
.instagram-167 {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
	cursor: pointer;
}
#Datenschutzerklaerung {
	left: 262px;
	top: 190px;
	position: absolute;
	overflow: visible;
	width: 130px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(39,75,101,1);
	cursor: pointer;
}
#AGB {
	left: 437px;
	top: 190px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(39,75,101,1);
	cursor: pointer;
}
#MEMORITER {
	left: 52px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 261px;
	height: 48px;
	text-align: left;
	font-family: Helvetica Neue;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}