#title {
    color: white;
    text-align: center;
    margin: 0 auto;
    font-family: Helvetica;
    font-weight: 400;
    padding: 40px;
}
.content {
    position: relative;
}
#back-button {
    position: absolute;
    top: -1064px;
    left: 0px;
    width: 90px;
    height: 45px;
    background: #2A4B5E;
    margin: 20px;
}
#back-button-text {
    color: white;
    position: absolute;
    top: -1050px;
    left: 21px;
    margin: 20px;
    font-family: Helvetica;
    font-weight: 600;
    
}
#vertical-lines {
    width: 1800px;
    height: 950px;
    background: transparent;
    border-right: 7.55px solid #274b65;
    border-left: 7.5px solid #274b65;
    border-top: 7.5px solid #274b65;
    margin:auto
}