.mediaViewInfo {
	--web-view-name: three_dots;
	--web-view-id: three_dots;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
:root {
	--web-view-ids: three_dots;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#three_dots {
	position: absolute;
	width: 275px;
	height: 109px;
	background-color: rgba(53,53,53,1);
	overflow: hidden;
	cursor: pointer;
	--web-view-name: three_dots;
	--web-view-id: three_dots;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
#Popup {
	position: absolute;
	width: 275px;
	height: 109px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rechteck_9 {
	fill: transparent;
	stroke: rgba(38,75,102,1);
	stroke-width: 7.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rechteck_9 {
	position: absolute;
	overflow: visible;
	width: 275px;
	height: 109px;
	left: 0px;
	top: 0px;
}
#delete_this_Folder {
	left: 25px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#change_the_name {
	left: 25px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}