/*In this file all classes for the terms of use, privacy policy and all other legal condition pages are defined*/

.legal-main { /*main container*/
    display: flex; /*needed to push the footer down*/
    flex-direction: column; /*needed to push the footer down*/
    position: relative;
    left: 50%;
    top: 120px;
    transform: translate(-50%);
    width: calc(100% - 320px);
    max-width: 2400px;
    min-height: 100vh;
    padding: 40px 60px 80px 60px;
    margin-bottom: 320px;
}
.legal-main h1 { /*the big page heading (<h1/>) of legal-main*/
    font-size: 2.8rem;
    font-family: var(--font-heading);
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.legal-main h2 { /*all html sub headings (<h2/>) of legal-main*/
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-font);
    font-family: var(--font-highlight);
    margin-top: 60px;
    margin-bottom: 12px;
}
.legal-main p { /*all html text paragraps (<p/>) of legal-main*/
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-font);
    font-family: var(--font-default);
    line-height: 1.8rem;
    text-align: justify;
    margin-bottom: 0;
}
.legal-main ul { /*all html unordered lists (<ul/>) of legal-main*/
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-font);
    font-family: var(--font-default);
    line-height: 1.8rem;
    text-align: justify;
    margin-bottom: 0;
}
.legal-main a { /*all html links (<a/>) of legal-main*/
    color: var(--color-font);
    transition: color 200ms;
}
.legal-main a:hover{ /*hover effect for all html links (<a/>) of legal-main*/
    color: var(--color-font-gray);
}
.legal-main-table-container { /*container for tables enabling x-axis scrolling on smaller screens*/
    width: 100%;
    overflow-x: auto;
}
.legal-main-table-container table { /*all html tables (<table/>) of legal-main-table-container*/
    min-width: 100%;
    font-size: 1.1rem;
    color: var(--color-font);
    font-family: var(--font-default);
    line-height: 1.6rem;
    text-align: left;
    margin-top: 16px;
    border-spacing: 0; /*removes space between cells*/
    border-collapse: collapse; /*removes double border where cells touch*/
}
.legal-main-table-container thead { /*all html table header rows (<thead/>) of legal-main-table-container*/
    background-color: var(--color-hover);
}
.legal-main-table-container th, td { /*all html table (header) cells (<th/>, <td/>) of legal-main-table-container*/
    min-width: 100px;
    vertical-align: top;
    border: 1px solid var(--color-table);
    padding: 8px;
}

@media (max-width: 960px) { /*removes space at the sides on small screens*/
    .legal-main {
        top: 60px;
        width: calc(100% - 40px);
        padding: 40px 0 80px 0;
    }
}

@media (max-width: 240px) { /*hides the content on too small screens (when the warning modal is open)*/
    .legal-main {
        display: none;
    }
}