/*Styles used for the slider thing with customer stories at the bottom of the product page*/

.product-stories { /*box with everything*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 40px);
    max-width: 850px;
    height: 425px;
    margin-top: 80px;
    margin-bottom: 250px;
}

.product-stories-textarea { /*box where the texts are displayed*/
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 150px);
    height: calc(100% - 40px);
    border-radius: 10px;
    background-color: var(--color-hover);
}
.product-stories-textarea::after { /*quotation mark at the upper left corner*/
    content: '"'; /*the quotation mark symbol*/
    position: absolute;
    left: -27px;
    top: -18px;
    font-size: 12rem;
    font-family: var(--font-large-quotation);
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
}
.product-stories-textarea-quote {
    color: var(--color-font);
    font-style: italic;
    font-size: 1.4rem;
    font-family: var(--font-serif);
    text-align: justify;
    margin: 60px 60px -40px 60px;
}
.product-stories-textarea-author {
    color: var(--color-font);
    font-size: 1.4rem;
    font-family: var(--font-highlight);
    margin: 60px 60px -40px 60px;
}

.product-stories-arrow-left { /*previous-story-button*/
    position: absolute;
    left: 0;
    top: calc(50% - 20px);
    transform: translate(0, -50%);
    width: 36px;
    height: 64px;
    background-color: var(--color-transparent);;
    border-color: var(--color-transparent);;
    cursor: pointer;
    transition: transform 400ms, filter 400ms;
}
.product-stories-arrow-left::before { /*upper half of the arrow*/
    content: '';
    position: absolute;
    right: 8px;
    top: 0;
    width: 15px;
    height: 30px;
    transform: skew(-30deg); /*creates a parallelogram shape*/
    background-color: var(--color-font-gray);
}
.product-stories-arrow-left::after { /*lower half of the arrow*/
    content: '';
    position: absolute;
    right: 8px;
    bottom: 0;
    width: 15px;
    height: 30px;
    transform: skew(30deg); /*creates a parallelogram shape*/
    background-color: var(--color-font-gray);
}
.product-stories-arrow-left:hover { /*hover effect*/
    transform: translate(-8px, -50%);
    filter: brightness(0.8);
}

.product-stories-arrow-right { /*next-story-button*/
    position: absolute;
    right: 0;
    top: calc(50% - 20px);
    transform: translate(0, -50%);
    width: 36px;
    height: 64px;
    background-color: var(--color-transparent);;
    border-color: var(--color-transparent);;
    cursor: pointer;
    transition: transform 400ms, filter 400ms;
}
.product-stories-arrow-right::before { /*upper half of the arrow*/
    content: '';
    position: absolute;
    left: 8px;
    top: 0;
    width: 15px;
    height: 30px;
    transform: skew(30deg); /*creates a parallelogram shape*/
    background-color: var(--color-font-gray);
}
.product-stories-arrow-right::after { /*lower half of the arrow*/
    content: '';
    position: absolute;
    left: 8px;
    bottom: 0;
    width: 15px;
    height: 30px;
    transform: skew(-30deg); /*creates a parallelogram shape*/
    background-color: var(--color-font-gray);
}
.product-stories-arrow-right:hover { /*hover effect*/
    transform: translate(8px, -50%);
    filter: brightness(0.8);
}

.product-stories-dots { /*the bar of dots at the bottom for selecting a story*/
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    gap: 8px;
}
.product-stories-dot { /*single dots*/
    width: 12px;
    height: 12px;
    border-radius: 50%; /*circle shape*/
    background-color: var(--color-hover);
    cursor: pointer;
    transition: 400ms;
}

@media (max-width: 960px) { /*small changes for smaller screens*/
    .product-stories-textarea-quote {
        font-size: 1.1rem;
    }
    .product-stories-textarea-author {
        font-size: 1.1rem;
    }
}

@media (max-width: 660px) { /*hides everything on too small screens*/
    .product-stories {
        display: none;
    }
}