/*styles used for the cookie banner settings view (when clicking the moreinformation-button)*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap'); /*font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); /*header font*/

.cookie-settings { /*settings view box*/
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    max-width: calc(100% - 40px);
    height: 700px;
    max-height: calc(100% - 40px);
    background-color: rgba(32, 32, 32, 1);
    border-radius: 12px;
    transition: transform 400ms, opacity 400ms; /*fade in/out animation transition*/
    z-index: 4;
}

.cookie-settings-title { /*cookie settings title*/
    position: relative;
    top: 0;
    height: 72px;
}
.cookie-settings-title::after { /*small lie at the bottom*/
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    width: calc(100% - 60px);
    height: 1px;
    background-color: rgba(55, 55, 55, 1);
}
.cookie-settings-title-text { /*heading*/
    font-size: 2rem;
    font-family: 'Rubik';
    text-align: center;
    padding-top: 20px;
    margin-top: 0;
    background: linear-gradient(45deg, rgba(35, 170, 170, 1), rgba(40, 185, 125, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cookie-settings-close { /*x-button for closing settings*/
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-color 200ms;
}
.cookie-settings-close::after { /*x-shape*/
    content: '\d7'; /*symbol for shape*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: rgba(200, 200, 200, 1);
}
.cookie-settings-close:hover { /*background on hover*/
    background-color: rgba(55, 55, 55, 0.75);
}

.cookie-settings-scroll { /*area with scrollbar*/
    position: relative;
    width: calc(100% - 2px);
    height: calc(100% - 152px);
    overflow-y: auto;
}
.cookie-settings-scroll::-webkit-scrollbar { /*custom scrollbar size*/
    width: 8px;
}
.cookie-settings-scroll::-webkit-scrollbar-track { /*hides bar background*/
    background-color: rgba(0, 0, 0, 0);
}
.cookie-settings-scroll::-webkit-scrollbar-thumb { /*custom scrollbar design*/
    background-color: rgba(18, 18, 18, 1);
    border-radius: 4px;
}
.cookie-settings-scroll::-webkit-scrollbar-thumb:hover { /*hover effect*/
    background-color: rgba(12, 12, 12, 1);
}

.cookie-settings-description { /*main description for the banner*/
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    line-height: 1.5rem;
    text-align: justify;
    margin: 12px 30px 30px 40px;
}

.cookie-settings-container { /*contains toggle switches and labels*/
    margin-inline: 40px 30px;
    margin-bottom: 20px;
    padding: 8px 40px 24px 40px;
    border-radius: 6px;
    background-color: rgba(55, 55, 55, 1);
}

.cookie-settings-label { /*label for toggle switches*/
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    margin-right: 50px;
    margin-bottom: 0;
}
.cookie-settings-label-description { /*label description texts*/
    width: 100%;
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    line-height: 1.2rem;
    text-align: justify;
}

.cookie-settings-switch-slider-static { /*static slider background shape*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    background-color: rgba(35, 170, 170, 1);
    filter: saturate(0.4);
    cursor: pointer;
}
.cookie-settings-switch-slider-static:before { /*static slider knob (the circle)*/
    content: '';
    position: absolute;
    right: 4px;
    top: 4px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgba(55, 55, 55, 1);
}

.cookie-settings-switch { /*toggle switch*/
    position: absolute;
    right: 70px;
    transform: translate(0, -24px);
    width: 40px;
    height: 24px;
}
.cookie-settings-switch input { /*hides default checkbox*/
    display: none;
}
.cookie-settings-switch-slider { /*toggle slider background shape*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    background-color: rgba(32, 32, 32, 1);
    transition: background-color 400ms;
    cursor: pointer;
}
.cookie-settings-switch-slider:before { /*slider knob (the circle)*/
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgba(55, 55, 55, 1);
    transition: transform 400ms;
}
.cookie-settings-switch input:checked + .cookie-settings-switch-slider { /*background color change on toggle*/
    background-color: rgba(35, 170, 170, 1);
} 
.cookie-settings-switch input:checked + .cookie-settings-switch-slider:before { /*knob position change on toggle*/
    transform: translateX(16px);
}

.cookie-settings-links { /*further information links at the bottom*/
    display: flex; /*display: flex creates columns*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
    gap: 8px;
    margin-top: 24px;
    text-align: center;
}
.cookie-settings-links > * { /*layout optimization*/
    flex: 1; /*used for equal columns*/
}
.cookie-settings-link { /*link font style*/
    width: fit-content;
    font-size: 0.95rem;
    color: rgba(200, 200, 200, 1);
    font-family: 'Inter';
    text-decoration: none;
    cursor: pointer;
    transition: color 200ms;
}
.cookie-settings-link:hover { /*link hover effect*/
    color: rgba(255, 255, 255, 1);
}

.cookie-settings-buttons { /*positioning for save/accept buttons*/
    position: relative;
    height: 80px;
}
.cookie-settings-buttons::after { /*small line at the top*/
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    width: calc(100% - 60px);
    height: 1px;
    background-color: rgba(55, 55, 55, 1);
}

.cookie-settings-save { /*save current button*/
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translate(0, -50%);
    width: calc(50% - 80px);
    height: 30px;
    padding: 8px 10px 8px 10px;
    background-color: rgba(55, 55, 55, 1);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 200ms;
}
.cookie-settings-save:hover { /*hover effect on button*/
    background-color: rgba(55, 55, 55, 0.65);
}
.cookie-settings-save-text { /*text which is not supposed to change color*/
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    text-decoration: none;
    white-space: nowrap;
}

.cookie-settings-accept { /*accept button, needed to be split in multiple classes, this class is for the positionig of the button*/
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translate(0, -50%);
    width: calc(50% - 80px);
    padding: 0 10px 0 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}
.cookie-settings-accept-text { /*text which is not supposed to change color*/
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-45%);
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    text-decoration: none;
    white-space: nowrap;
}
.cookie-settings-accept-background { /*the hover background was done in React because it did not work in CSS*/
    width: 100%;
    height: 30px;
    padding: 8px 10px 8px 10px;
    border-radius: 6px;
    background: linear-gradient(45deg, rgba(35, 170, 170, 1), rgba(40, 185, 125, 1));
    transition: 200ms;
}

@media (max-width: 460px) { /*some layout changes for very small screens*/
    .cookie-settings-title-text {
        font-size: 1.6rem;
        text-align: left;
        margin-left: 30px;
    }
    
    .cookie-settings-scroll {
        height: calc(100% - 212px);
    }

    .cookie-settings-description {
        margin: 12px 20px 30px 30px;
    }

    .cookie-settings-container {
        margin: 12px 20px 30px 30px;
        padding: 8px 20px 24px 20px;
    }

    .cookie-settings-switch {
        right: 40px;
    }

    .cookie-settings-links {
        flex-direction: column;
    }

    .cookie-settings-buttons {
        height: 140px;
    }

    .cookie-settings-save {
        left: 30px;
        top: 100px;
        width: calc(100% - 80px);
    }

    .cookie-settings-accept {
        left: 30px;
        top: 40px;
        width: calc(100% - 80px);
    }
}

@media (max-width: 310px) { /*some optimizations for very very small screens*/
    .cookie-settings-title {
        height: 102px;
    }
    .cookie-settings-title-text {
        margin-right: 60px;
    }

    .cookie-settings-scroll {
        height: calc(100% - 242px);
    }
}

@media (max-width: 290px) { /*some last changes fixing text overlapping*/
    .cookie-settings-label {
        margin-bottom: 36px;
    }

    .cookie-settings-switch {
        left: calc(50% + 10px);
        transform: translate(-50%, -30px);
    }
}

@media (max-width: 240px) { /*hidden on to small */
    .cookie-settings {
        display: none;
    }
}

@media (max-height: 360px) { /*changes scroll part because it becomes too small*/
    .cookie-settings {
        overflow-y: auto;
    }

    .cookie-settings-scroll {
        height: unset;
    }
}