/* This file contains the styles for the page footer */

.footer { /* footer container */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 38px;
  text-align: center;
  background-color: var(--color-background);
  border-top: 2px solid var(--current-gray);
  box-shadow: 0 1px 4px var(--color-shadow);
}

.footer-logo { /* memoriter logo used at the footer */
  position: absolute;
  left: 6px;
  top: 50%;
  width: 92px;
  transform: translate(0%, calc(-50% + 1px));
  cursor: pointer;
  filter: var(--svg-invert);
}

.footer-follow { /* follow us text */
  position: absolute;
  right: 36px;
  top: 50%;
  transform: translate(0, -120%);
  font-size: 12px;
  color: var(--color-font);
  font-family: var(--current-font);
}
.footer-follow-icon { /* instagram icon next to follow us text */
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translate(0%, -50%);
  width: 10px;
  height: 10px;
  padding: 8px;
  background-color: var(--current-gray);
  border-radius: 5px;
  cursor: pointer;
}
.footer-follow-icon img { /* the actual icon */
  position: absolute;
  right: 15%;
  bottom: 15%;
  width: 70%;
  height: 70%;
  cursor: pointer;
  filter: var(--svg-invert-white);
}

.footer-links { /* container with links to other pages */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 220px);
  max-height: 36px;
  color: var(--color-font-gray);
  line-height: 18px;
}
.footer-link { /* single link */
  color: var(--current-blue);
  font-family: var(--current-font);
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 430px) { /* phone optimization */
  .footer-logo {
    width: 80px;
  }
  .footer-follow {
    font-size: 12px;
  }
  .footer-links {
    width: calc(100% - 180px);
  }
  .footer-link {
    font-size: 12px;
  }
}

@media (max-width: 342px) { /* small phone optimization */
  .footer-logo {
    width: 60px;
  }
  .footer-follow {
    font-size: 8px;
  }
  .footer-follow-icon {
    transform: translate(0, -50%) scale(0.8);
  }
  .footer-links {
    width: calc(100% - 160px);
  }
  .footer-link {
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: 300px) {/* mini phone optimization */
  .footer-logo {
    display: none;
  }
  .footer-follow {
    display: none;
  }
  .footer-follow-icon {
    display: none;
  }
  .footer-links {
    width: calc(100% - 10px);
  }
}