.nothing-to-study-box {
    top: 20%;
    height: 30vh;
    width: 25vw;
    left: 50%;
    position: absolute;
    background: rgb(205, 208, 218);
    border: 1vw solid var(--current-blue);
    border-radius: 5px;
    transform: translateX(-50%);
}

.nothing-to-study-text {
    position: relative;
    text-align: center;
    font-size: 2.6vh;
    font-family: var(--current-font);
    color: var(--current-gray-dark);
    margin: 1vh;
}

.return-button {
    position: absolute;
    left: 50%;
    font-family: var(--current-font);
    transform: translate(-50%, -50%);
    border-radius: 0.5vw;
    height: calc(3vh * var(--testing));
    width: calc(7vw * var(--testing));
    font-size: calc(1.4vh * var(--testing));

    border: 0;
    cursor: pointer;
}

.return-button:hover {
    filter: brightness(120%);
}