.header-logo {
    width: 134.4px;
    max-width: 20%;
    position: absolute;
    cursor: pointer;
    bottom: 50%;
    left: 10px;
    transform: translate(0%, 50%);
    filter: var(--svg-invert);
}

.legal-header {
    position: relative;
    font-family: var(--current-font);
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: var(--color-font);
    padding-top: 40px;
    padding-bottom: 50px;
}

.legal-sub-header {
    position: relative;
    font-family: var(--current-font);
    font-size: 20px;
    text-align: justify;
    color: var(--color-font);
    line-height: 150%;
    width: 80%;
    left: 10%;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 40px;
}

.legal-text {
    position: relative;
    font-family: var(--current-font);
    font-size: 20px;
    text-align: justify;
    color: var(--color-font);
    line-height: 150%;
    width: 80%;
    left: 10%;
}