/* This file contains the styles for the footer page */

.footer { /* footer container */
  position: absolute;
  right: 2vw;
  bottom: 12vh;
  width: 15vw;
  height: 30vh;
  text-align: left;
  background-color: var(--color-background);
  border: 2px solid var(--current-gray);
  border-radius: 5px;
  box-shadow: 0 1px 4px var(--color-shadow);
  z-index: 10;
  margin: auto;
  font: var(--current-font);
}

.footer-text { /*  footer text that's not links*/
  position: relative;
  left: 0.5vw;
  top: 1vh;
  color: var(--color-font-gray);
  line-height: 20px;
}
.footer-follow-icon { /* instagram icon next to follow us text */
  position: absolute;
  left: 11vh;
  top: 80%;
  transform: translate(0%, -50%);
  width: 10px;
  height: 10px;
  padding: 8px;
  background-color: var(--current-gray);
  border-radius: 5px;
  cursor: pointer;
}
.footer-follow-icon img { /* the actual icon */
  position: absolute;
  right: 15%;
  bottom: 15%;
  width: 70%;
  height: 70%;
  cursor: pointer;
  filter: var(--svg-invert-white);
}

.footer-links { /* container with links to other pages */
  position: relative;
  left: 0.5vw;
  top: 1vh;
  max-height: 36px;
  color: var(--color-font-gray);
  line-height: 18px;
}

.footer-link { /* single link */
  color: var(--current-blue);
  font-family: var(--current-font);
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 430px) { /* phone optimization */
  .footer-logo {
    width: 80px;
  }
  .footer-follow {
    font-size: 12px;
  }
  .footer-link {
    font-size: 12px;
  }
}

@media (max-width: 342px) { /* small phone optimization */
  .footer-logo {
    width: 60px;
  }
  .footer-follow {
    font-size: 8px;
  }
  .footer-follow-icon {
    transform: translate(0, -50%) scale(0.8);
  }
  .footer-link {
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: 300px) {/* mini phone optimization */
  .footer-logo {
    display: none;
  }
  .footer-follow {
    display: none;
  }
  .footer-follow-icon {
    display: none;
  }
}