.mediaViewInfo {
	--web-view-name: settings;
	--web-view-id: settings;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
:root {
	--web-view-ids: settings;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#settings {
	position: absolute;
	width: 237px;
	height: 224px;
	background-color: rgba(53,53,53,1);
	overflow: hidden;
	cursor: pointer;
	--web-view-name: settings;
	--web-view-id: settings;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#back {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 11px;
	top: 10px;
	overflow: visible;
	--web-animation: fadein 0.3s bounce;
	--web-action-type: page;
	--web-action-target: Home.html;
	cursor: pointer;
}
#Ellipse_111 {
	fill: transparent;
	stroke: rgba(58,109,112,1);
	stroke-width: 6px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_111 {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Symbol_85__1 {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
#Vereinigungsmenge_3 {
	fill: rgba(112,112,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Vereinigungsmenge_3 {
	overflow: visible;
	position: absolute;
	width: 17.414px;
	height: 17.414px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Profile_ {
	left: 23px;
	top: 64px;
	position: absolute;
	overflow: visible;
	width: 81px;
	height: 24px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Abmelden__ {
	left: 23px;
	top: 140px;
	position: absolute;
	overflow: visible;
	width: 115px;
	height: 24px;
	--web-animation: fadein 0.3s bounce;
	--web-action-type: page;
	--web-action-target: login.html;
	cursor: pointer;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#change_username_ {
	left: 23px;
	top: 102px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Delete_account_ {
	left: 23px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Regristrierung.html;
	cursor: pointer;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Pfad_6 {
	fill: transparent;
	stroke: rgba(38,75,102,1);
	stroke-width: 7.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Pfad_6 {
	overflow: visible;
	position: absolute;
	width: 237px;
	height: 224px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}