

.back-arrow {
    border: solid;
    border-width: 8px 8px 1px 1px;
    border-color: var(--color-font) var(--color-font) var(--color-transparent) var(--color-transparent);
    border-radius: 6px 0;
    padding: 8px;
    position: absolute;
    left: 1em ;
    top: 1em;
    cursor: pointer;
    transform: rotate(225deg);
}
.back-arrow:hover{
    transform: scale(1.1) rotate(225deg);
}