.back-button-body {
    position: fixed;
    background-color: var(--color-transparent);
    border: 2.5px solid var(--color-transparent);
    left: 5vw;
    top: 12.5vh;
    padding: 10px 15px;
    cursor: pointer;
    transform: rotate(270deg);
}

.back-arrow {
    border: solid;
    border-width: 8px 8px 1px 1px;
    border-color: var(--color-font) var(--color-font) var(--color-transparent) var(--color-transparent);
    border-radius: 6px 0;
    padding: 8px;
    position: absolute;
    left: 1%;
    cursor: pointer;
    transform: rotate(-45deg);
}