/*all styles for the blog overview page (list of all blog articles)*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap'); /*font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); /*heading font*/

.blog-main { /*layout container for the content*/
    display: flex; /*needed to push the footer down*/
    flex-direction: column; /*needed to push the footer down*/
    position: relative;
    top: 160px;
    width: 100%;
    max-width: 2400px;
    min-height: 100vh;
    margin-bottom: 280px;
}

.blog-main-new-blog-container {
    display: flex;
    gap: 40px;
    margin-bottom: 80px;
}
.blog-main-new-blog {
    cursor: pointer;
}
.blog-main-new-blog img {
    width: 100%;
    margin-top: -8px;
    border-radius: 6px;
}
.blog-main-new-blog h2 {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Rubik';
    color: rgba(255, 255, 255, 1);
}
.blog-main-new-blog p {
    font-family: 'Inter';
    color: rgba(200, 200, 200, 1);
}