/*styles used for the menu sidebar for to filter the posts*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap'); /*font*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@850&display=swap'); /*heading font*/

.blog-sidebar {
    position: sticky; /*pushes the sidebar up on scroll when the footer is reached*/
    top: calc(50vh - 200px);
    width: 200px;
    height: 400px;
    margin-bottom: 250px;
    border-right: 1px solid rgba(55, 55, 55, 1);
}

.blog-sidebar-header { /*the component heading/title*/
    position: relative;
    top: 10px;
    font-size: 2.8rem;
    font-family: 'Heebo';
    margin-top: -12px;
    margin-bottom: -100px;
    background: linear-gradient(45deg, rgba(35, 170, 170, 1), rgba(40, 185, 125, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blog-sidebar-description { /*a small text under the heading*/
    position: relative;
    top: 110px;
    font-size: 1.1rem;
    font-family: 'Inter';
    color: rgba(255, 255, 255, 1);
    line-height: 1.4rem;
    margin-right: 20px;
}

.blog-sidebar-divider { /*line between description and links*/
    position: relative;
    top: 120px;
    width: 80px;
    border-top: 1px solid rgba(55, 55, 55, 1);
}

.blog-sidebar-topics { /*filter links*/
    position: relative;
    left: -40px;
    top: 130px;
    width: fit-content;
    list-style: none; /*removes bullet points*/
}
.blog-sidebar-topics li { /*list items*/
    width: fit-content;
    margin-top: 8px;
    cursor: pointer;
}
.blog-sidebar-topics-link { /*styles for the react router links of the list*/
    font-size: 1.2rem;
    font-family: 'Inter';
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    transition: color 200ms;
}
.blog-sidebar-topics-link:hover { /*link hover effect*/
    color: rgba(200, 200, 200, 1);
}

@media (max-width: 960px) { /*optimizations for smaller screens*/
    .blog-sidebar {
        position: relative;
        top: 140px;
        width: unset;
        height: unset;
        margin-bottom: 0;
        border-right: unset;
    }

    .blog-sidebar-description {
        max-width: 320px;
        margin-bottom: 32px;
    }

    .blog-sidebar-divider {
        width: 100%;
    }

    .blog-sidebar-topics {
        width: 100%;
        margin-top: 0;
        margin-bottom: 160px;
    }

    .blog-sidebar-topics li {
        display: inline-block;
        margin-right: 20px;
    }
}

@media (max-width: 660px) { /*optimizations for mobile devices*/
    .blog-sidebar-topics {
        text-align: center;
    }

    .blog-sidebar-topics li {
        margin-right: unset;
        margin: 8px 10px 0 10px;
    }
}

@media (max-width: 240px) { /*hides all at too small screens in order to show no responsive bugs*/
    .blog-sidebar {
        display: none;
    }
}