/*all styles for the blog overview page (list of all blog posts)*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap'); /*font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); /*heading font*/

.blog-main-body { /*an additional class which includes the main part as well as the sidebar, used for layout*/
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 140px);
    max-width: 2400px;
    gap: 80px;
}

.blog-main { /*layout container for the content*/
    display: flex; /*needed to push the footer down*/
    flex-direction: column; /*needed to push the footer down*/
    position: relative;
    top: 140px;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 400px;
}

.blog-main-blog-date { /*some extra layout styles for the date of publication for each blog post*/
    margin-top: -2.1rem;
    text-align: right;
}

.blog-main-new-blog-container { /*container for the four newest posts*/
    display: flex; /*two column layout*/
    gap: 40px;
    margin-bottom: 60px;
}
.blog-main-new-blog-container > * { /*children of the container, used for equally sized items*/
    flex: 1;
}
.blog-main-new-blog { /*new blog post preview*/
    cursor: pointer;
    transition: transform 200ms, filter 200ms;
}
.blog-main-new-blog:hover { /*hover effect*/
    transform: scale(0.98);
    filter: brightness(0.75);
}
.blog-main-new-blog img { /*image for new blog preview*/
    width: 100%;
    margin-top: -8px;
    border-radius: 6px;
    transition: filter 200ms;
}
.blog-main-new-blog h2 { /*new blog preview title*/
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Rubik';
    color: rgba(255, 255, 255, 1);
    transition: color 200ms;
}
.blog-main-new-blog p { /*new blog preview description*/
    font-size: 1.1rem;
    font-family: 'Inter';
    color: rgba(200, 200, 200, 1);
    line-height: 1.6rem;
}

.blog-main-old-blog { /*links to older blog posts*/
    position: relative;
    margin-bottom: 42px;
    cursor: pointer;
    transition: filter 200ms;
}
.blog-main-old-blog:hover { /*hover effect*/
    filter: brightness(0.75);
}
.blog-main-old-blog-outside { /*tag and date text outside the box*/
    transform: translate(0, 4px);
    font-family: 'Inter';
    color: rgba(200, 200, 200, 1);
}
.blog-main-old-blog-box { /*gray box with content*/
    width: 100%;
    background-color: rgba(55, 55, 55, 1);
    border-radius: 6px;
}
.blog-main-old-blog-box h2 { /*old blog preview title*/
    font-size: 1.8rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    line-height: 2rem;
    margin-inline: 16px;
}
.blog-main-old-blog-box p { /*old blog preview description*/
    font-size: 1.1rem;
    font-family: 'Inter';
    color: rgba(200, 200, 200, 1);
    line-height: 1.6rem;
    text-align: justify;
    margin-inline: 16px;
}
.blog-main-old-blog img { /*old blog preview image*/
    display: inline-block;
    width: 200px;
    object-fit: cover; /*optimizes image scaling*/
    border-radius: 6px;
}

.blog-main-button { /*load more button*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 164px;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    padding: 8px 6px 8px 6px;
    margin-top: 40px;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-color 200ms;
}
.blog-main-button:hover { /*for the fading background box on hover*/
    background-color: rgba(55, 55, 55, 0.75);
}

@media (max-width: 1160px) { /*optimizes space usage for medium sized screens (e.g. smaller laptops or large tablets)*/
    .blog-main-body {
        width: calc(100% - 40px);
        gap: 40px;
    }
}

@media (max-width: 960px) { /*optimizes layout for small screens*/
    .blog-main-body {
        flex-direction: column;
    }
}

@media (max-width: 660px) { /*optimizes layout mobile devices*/
    .blog-main-new-blog-container {
        flex-direction: column;
    }

    .blog-main-old-blog img {
        display: none;
    }
}

@media (max-width: 280px) { /*small visual fix (removes overlapping topic and date in some cases)*/
    .blog-main-blog-date {
        text-align: left;
        margin-top: -10px;
    }
}

@media (max-width: 240px) { /*hides all at too small screens in order to show no responsive bugs*/
    .blog-main {
        display: none;
    }
}