/*styles for the header with title, date, authoe etc. at the top of each post*/

.blog-post-header-all-posts { /*a back to all posts link*/
    position: absolute;
    left: 65px;
    top: 10px;
    width: fit-content;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik';
    text-decoration: none;
    text-align: right;
    padding: 4px 6px 4px 6px;
    margin-bottom: 12px;
    border-radius: 4px;
    transition: background-color 200ms;
}
.blog-post-header-all-posts:hover { /*hover effect for back to all posts link*/
    background-color: rgba(55, 55, 55, 0.75);
}

.blog-post-header-content { /*container with content*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 48%;
}

.blog-post-header-data { /*date of publication and topic (with link)*/
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(200, 200, 200, 1);
    font-family: 'Inter';
}
.blog-post-header-data-link { /*link to topic on blog page*/
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    text-decoration: none;
    transition: color 200ms;
}
.blog-post-header-data-link:hover { /*hover effect for link*/
    color: rgba(200, 200, 200, 1);
}

.blog-post-header-title { /*the blog title*/
    max-width: 800px;
    font-size: 2.8rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Heebo';
    line-height: 3.4rem;
    margin-top: -10px;
}

.blog-post-header-author { /*mention of the author*/
    font-size: 1.2rem;
    color: rgba(200, 200, 200, 1);
    font-family: 'Inter';
    margin-top: -24px;
    margin-bottom: 160px;
}

.blog-post-header-reading-time { /*reading time indicator at the side*/
    position: relative;
    left: 65px;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    line-height: 2.2rem;
    margin-top: 100px;
    margin-bottom: -72px;
}

.blog-post-header-share { /*share links*/
    position: relative;
    left: 65px;
    top: 80px;
    height: 90px;
    color: rgba(200, 200, 200, 1);
    font-family: 'Inter';
    margin-bottom: -90px;
}
.blog-post-header-share-circle { /*circle around the icons*/
    position: absolute;
    width: 36px;
    height: 36px;
    margin-top: -4px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%; /*circle shape*/
    transform: scale(0.85); /*adjusts the size more precise*/
    cursor: pointer;
    transition: background-color 200ms;
}
.blog-post-header-share-circle:hover { /*background hover effect*/
    background-color: rgba(55, 55, 55, 0.5);
}
.blog-post-header-share-icon { /*icons for the different social media platforms*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    filter: invert(1); /*for making the icons white*/
}

@media (max-width: 1160px) { /*optimizes layout for smaller screens for better readability*/
    .blog-post-header-all-posts {
        position: relative;
        left: calc(50% - 300px);
        top: 0;
    }
    
    .blog-post-header-content {
        width: 600px;
        max-width: calc(100% - 40px);
    }

    .blog-post-header-reading-time {
        left: calc(50% - 300px);
        margin-top: -80px;
    }

    .blog-post-header-share {
        left: calc(50% - 300px);
        margin-bottom: 120px;
    }
}

@media (max-width: 656px) { /*fixes some objects moving out of the screen*/
    .blog-post-header-all-posts {
        left: 20px;
    }

    .blog-post-header-reading-time {
        left: 20px;
    }

    .blog-post-header-share {
        left: 20px;
    }
}