/*In this stylesheet the basic layout options of all blog posts are defined.*/

.blog-post-main { /*main container*/
    display: flex; /*needed to push the footer down*/
    flex-direction: column; /*needed to push the footer down*/
    position: relative;
    left: 50%;
    top: 180px;
    transform: translate(-50%);
    width: 100%;
    max-width: 2400px;
    min-height: 100vh;
    margin-bottom: 420px;
    overflow: hidden;
}

.blog-post-main article { /*main text*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 48%;
    font-size: 1.3rem;
    color: var(--font);
    font-family: 'IBM Plex Serif';
    line-height: 2.2rem;
    margin-bottom: 80px;
}

.blog-post-main article h2 { /*sub all headings*/
    font-size: 2.2rem;
    font-family: 'Heebo';
    margin-top: 48px;
}

.blog-post-main article h3 { /*sub sub headings*/
    font-size: 1.7rem;
    font-family: 'Heebo';
    margin-top: 42px;
}

.blog-post-main article a { /*links to third party websites*/
    color: var(--font);
    text-decoration: underline 1px;
    text-underline-offset: 2px;
    cursor: pointer;
    transition: color 200ms;
}
.blog-post-main article a:hover { /*link hover effect*/
    color: rgba(200, 200, 200, 1);
}

.blog-post-main article figure { /*figures with image or video and caption*/
    margin: 60px -20px 40px -20px;
    font-size: 1.1rem;
    color: rgba(200, 200, 200, 1);
    font-family: 'Inter';
}
.blog-post-main article figure img { /*image inside figure*/
    width: 100%;
    border-radius: 10px;
}

.blog-post-main article blockquote { /*blockquotes with line at the left*/
    padding-left: 24px;
    margin: 40px 0 40px 0;
    border-left: 4px solid var(--font);
}

.blog-post-main-callout { /*small important highlighted texts*/
    font-family: 'Inter';
    padding: 24px 24px 24px 72px;
    background-color: rgba(55, 55, 55, 0.75);
    border-radius: 10px;
}
.blog-post-main-callout img { /*light bulb image at the left of a callout*/
    position: absolute;
    left: 12px;
    transform: translate(0, -6px);
    height: 48px;
    filter: invert(1); /*makes the icon white*/
}

@media (max-width: 1160px) { /*optimizes layout for smaller screens for better readability*/
    .blog-post-main article {
        width: 600px;
        max-width: calc(100% - 40px);
    }
}

@media (max-width: 700px) { /*fixes images breaking content margin*/
    .blog-post-main article figure {
        width: 100%;
        margin: 60px 0 40px 0;
    }
}

@media (max-width: 240px) { /*hides everything on too small screens*/
    .blog-post-main {
        display: none;
    }
}