/*some extra styles for the layout and load more button of the release notes page*/

.releases-main { /*layout container for the content*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 250px;
}

.releases-main-button { /*load more button*/
    position: relative;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    width: 164px;
    font-size: 1.6rem;
    color: var(--color-font);
    font-family: var(--font-highlight);
    padding: 8px 6px 8px 6px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-transparent);;
    cursor: pointer;
    transition: background-color 200ms;
}
.releases-main-button:hover { /*for the fading background box on hover*/
    background-color: var(--color-hover);
}

@media (max-width: 240px) { /*hides the content on too small screens (when the warning modal is open)*/
    .releases-main {
        display: none;
    }
}