.archive {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 500px;
  max-width: calc(100% - 8px);
  max-height: calc(100% - 8px);
  background-color: var(--color-background);
  border: 1px solid var(--color-container);
  border-radius: 4px;
  overflow-y: auto;
  z-index: 4;
}
.archive h1 {
  color: var(--color-font);
  font-family: var(--font-default);
  text-align: center;
}