.sidebar {
  position: absolute;
  bottom: 0;
  width: 249px;
  height: calc(100% - 49px);
  background-color: var(--color-background);
  border-right: 1px solid var(--color-container);
  transition: left 250ms;
  z-index: 1;
}

.sidebar p {
  font-family: var(--font-default);
  color: var(--color-font);
  margin: 10px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}