.top-divider {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
    width: calc(100% - 10px);
    height: 0px;
    border-top: 8px solid var(--current-gray);
    border-radius: 15px;
}

.login-container {
    position: absolute;
    width: 550px;
    max-width: 100%;
    left: 50%;
    top: 15vh;
    transform: translate(-50%);
    color: var(--color-font);
    text-align: center;
    font-family: var(--font-default);
    overflow: visible;
    padding-top: -20px;
}

.login-button {
    position: absolute;
    height: 50px;
    width: 125px;
    border-radius: 6px;
    font-weight: bold;
    background-color: var(--current-blue);
    top: 380px;
    left: 50%;
    border: 3px solid var(--current-blue);
    cursor: pointer;
    font-size: 20px;
    color: var(--color-white);
    transform: translate(-50%);
    transition: 200ms;
}

.login-button:hover {
    filter: brightness(120%);
}

.link-box {
    width: 120px;
    fill: none;
    border: 5px solid var(--current-blue);
    background-color: var(--current-blue);
    border-radius: 6px;
    max-width: 25%;
    position: absolute;
    cursor: pointer;
    bottom: 50%;
    right: 10px;
    transform: translate(0%, 50%);
    font-family: var(--font-default);
    font-size: 25px;
    color: var(--color-white);
    text-align: center;
    padding-top: 4px;
    padding-bottom: 8px;
    text-decoration: none;
    transition: 200ms;
}

.link-box:hover {
    filter: brightness(120%);
}

.failed-login {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: var(--current-red);
    top: 100px;
    font-family: var(--font-default);
    font-size: 24px;
    width: calc(100% - 70px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-and-password-form-input {
    /* folder name input field */
    position: relative;
    width: 80%;
    font-size: 20px;
    color: var(--color-font);
    font-family: var(--font-default);
    padding: 5px;
    margin-top: 16px;
    margin-bottom: 24px;
    background-color: var(--color-transparent);
    border: 5px solid var(--current-gray);
    border-radius: 3px;
    outline: none;
}

.passwords-no-match {
    color: var(--current-red);
    font-family: var(--font-default);
    font-size: 14px;
    position: absolute;
    left: 8%;
    margin-top: 2px;
}

.forgot-password {
    position: relative;
    color: var(--current-blue);
    font-family: var(--font-default);
    cursor: pointer;
    text-align: center;
    margin-bottom: 24px;
    text-decoration: underline;
    font-size: 16px;
    width: fit-content;
    left: 50%;
    transform: translate(-50%);
}

.no-account {
    position: relative;
    top: 70px;
    height: 60px;
    color: var(--current-blue-dark);
    font-family: var(--font-default);
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    display: inline-block;
    padding-bottom: 10px;
}