/*here are all styles for the newsletter signup page*/

.newsletter-main { /*main container*/
    display: flex; /*needed to push the footer down*/
    flex-direction: column; /*needed to push the footer down*/
    position: relative;
    left: 50%;
    top: 100px;
    transform: translate(-50%);
    max-width: 2400px;
    min-height: 100vh;
    margin-bottom: 320px;
}

.newsletter-main-title { /*big title heading*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 800px;
    font-size: 4rem;
    font-family: var(--font-heading);
    text-align: center;
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
}

.newsletter-main-description { /*page content*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 720px;
    color: var(--color-font);
    font-size: 2rem;
    font-family: var(--font-default);
    line-height: 3rem;
    text-align: center;
    margin-bottom: 60px;
}

.newsletter-main-unsubscribe { /*unsubscribe text*/
    position: relative;
    font-size: 0.9rem;
    color: var(--color-font-gray);
    font-family: var(--font-default);
    text-align: center;
}
.newsletter-main-unsubscribe-link { /*unsubscribe link for opening the modal*/
    color: var(--color-font);
    text-decoration: underline;
    cursor: pointer;
    transition: color 200ms;
}
.newsletter-main-unsubscribe-link:hover { /*link hover effect*/
    color: var(--color-font-gray);
}