.mediaViewInfo {
	--web-view-name: Regristrierung;
	--web-view-id: Regristrierung;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Regristrierung;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Regristrierung {
	position: absolute;
	width: 1920px;
	height: 1247px;
	background-color: rgba(53,53,53,1);
	overflow: hidden;
	--web-view-name: Regristrierung;
	--web-view-id: Regristrierung;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Registrierung__Title {
	left: 737px;
	top: 137px;
	position: absolute;
	overflow: visible;
	width: 447px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 75px;
	color: rgba(255,255,255,1);
}
#login {
	position: absolute;
	width: 102px;
	height: 30px;
	left: 460px;
	top: 853px;
	overflow: visible;
}
#Login_q {
	left: 40px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Rechteck_3 {
	fill: transparent;
	stroke: rgba(59,110,113,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rechteck_3 {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#password2field {
	position: absolute;
	width: 1000px;
	height: 100px;
	left: 460px;
	top: 715px;
	overflow: visible;
}
#Password {
	left: 30px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 212px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Rechteck_5 {
	fill: transparent;
	stroke: rgba(38,75,102,1);
	stroke-width: 7.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rechteck_5 {
	position: absolute;
	overflow: visible;
	width: 1000px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#passoword1field {
	position: absolute;
	width: 1000px;
	height: 100px;
	left: 460px;
	top: 562px;
	overflow: visible;
}
#Password_w {
	left: 30px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 212px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Rechteck_4 {
	fill: transparent;
	stroke: rgba(38,75,102,1);
	stroke-width: 7.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rechteck_4 {
	position: absolute;
	overflow: visible;
	width: 1000px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#usernamefeld {
	position: absolute;
	width: 1000px;
	height: 100px;
	left: 460px;
	top: 412px;
	overflow: visible;
}
#Username {
	left: 31px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 219px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Rechteck_2 {
	fill: transparent;
	stroke: rgba(38,75,102,1);
	stroke-width: 7.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rechteck_2 {
	position: absolute;
	overflow: visible;
	width: 1000px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#mailfeld {
	position: absolute;
	width: 1000px;
	height: 100px;
	left: 460px;
	top: 262px;
	overflow: visible;
}
#Rechteck_1 {
	fill: transparent;
	stroke: rgba(38,75,102,1);
	stroke-width: 7.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rechteck_1 {
	position: absolute;
	overflow: visible;
	width: 1000px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#Mail {
	left: 31px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Loginbutton {
	position: absolute;
	width: 361px;
	height: 91px;
	left: 1099px;
	top: 865px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home.html;
	cursor: pointer;
}
#Rechteck_5_ {
	fill: rgba(38,82,114,1);
	stroke: rgba(59,110,113,1);
	stroke-width: 7.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rechteck_5_ {
	position: absolute;
	overflow: visible;
	width: 361px;
	height: 91px;
	left: 0px;
	top: 0px;
}
#Registrierung {
	left: 27px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 261px;
	height: 48px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#core-component-XF-footer {
	position: absolute;
	width: 1366px;
	height: 260px;
	left: 277px;
	top: 994px;
	overflow: visible;
}
#background {
	fill: rgba(53,53,53,1);
}
.background {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 260px;
	left: 0px;
	top: 0px;
}
#Impressum {
	left: 141px;
	top: 200px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Zeichenfl_che___1.html;
	cursor: pointer;
	line-height: 28px;
	margin-top: -6px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(39,75,101,1);
}
#core-component-separator {
	position: absolute;
	width: 1084px;
	height: 40px;
	left: 141px;
	top: 152px;
	overflow: visible;
}
#background_bb {
	fill: transparent;
}
.background_bb {
	position: absolute;
	overflow: visible;
	width: 1084px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#separator {
	fill: rgba(112,112,112,1);
}
.separator {
	position: absolute;
	overflow: visible;
	width: 1084px;
	height: 2px;
	left: 0px;
	top: 19px;
}
#container-right {
	position: absolute;
	width: 95px;
	height: 25px;
	left: 141px;
	top: 44px;
	overflow: visible;
}
#Memoriter {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#Social_-_Follow_Wireframe {
	position: absolute;
	width: 127px;
	height: 40px;
	left: 1010px;
	top: 37px;
	overflow: visible;
}
#Follow_us {
	left: 0px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -6px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Icon_-_Instagram {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 87px;
	top: 0px;
	overflow: visible;
}
#background_bi {
	fill: rgba(112,112,112,1);
}
.background_bi {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#icons {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 10px;
	top: 10px;
	overflow: visible;
}
#instagram-167 {
	fill: rgba(255,255,255,1);
}
.instagram-167 {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Datenschutzerklrung {
	left: 262px;
	top: 202px;
	position: absolute;
	overflow: visible;
	width: 130px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(39,75,101,1);
}
#AGB {
	left: 437px;
	top: 201px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(39,75,101,1);
}
#MEMORITER {
	left: 52px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 261px;
	height: 48px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}