/*the main body of the about page uses this styleshet.*/

.about-main { /*main class, used for positioning*/
    position: relative;
    left: 50%; /*centering the content on too large screens*/
    transform: translate(-50%);
    max-width: 2400px; /*looks better on large screens*/
    margin-top: 100vh;
    margin-bottom: 40px;
    overflow-x: hidden;
}

.about-main-container { /*contains all of the main sections, is used for positioning*/
    display: flex;
    margin: 100px 70px 100px 70px;
}
.about-main-container > * + * { /*children of container*/
    margin-left: 60px;
}
.about-main-container-sub { /*sub containers with the text inside*/
    flex-basis: 45%;
    align-self: center;
}
.about-main-container-sub-image { /*sub containers with the image inside*/
    flex-basis: 55%;
    align-self: center;
}

.about-main-heading { /*heading font styling*/
    font-size: 3.4rem;
    font-family: var(--font-heading);
    line-height: 4rem;
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
}

.about-main-text { /*text font styling*/
    font-size: 1.4rem;
    color: var(--color-font);
    font-family: var(--font-default);
    line-height: 2rem;
}

.about-main-image { /*image optimization*/
    width: 100%;
    border-radius: 10px;
}

.about-main-bottom { /*positioning for the text and button*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 80vw;
    max-width: 800px;
    color: var(--color-font);
    font-style: italic;
    font-size: 3.2rem;
    font-family: var(--font-serif);
    text-align: center;
    margin-top: 240px;
    margin-bottom: 200px;
}
.about-main-bottom span { /*highlighted words*/
    font-size: 3.4rem;
    font-family: var(--font-heading);
    font-style: normal;
    line-height: 4rem;
    margin-left: 4px;
    margin-right: -4px;
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
}

@media (max-width: 960px) { /*simplyfied layout for smaller screens*/
    .about-main-overview {
        flex-direction: column; /*renders items above each other instead of next to each other*/
    }
    
    .about-main-heading {
        font-size: 3rem;
        hyphens: auto; /*allows linebreaks within words*/
    }

    .about-main-text {
        font-size: 1.2rem;
    }

    .about-main-container {
        display: block;
        margin: 120px 20px 20px 20px;
    }
    .about-main-container > * + * { /*children of container*/
        margin-left: unset;
    }
}

@media (max-width: 660px) { /*pushes the footer down when the customer stories disappear*/
    .about-main {
        margin-bottom: 240px;
    }
}

@media (max-width: 240px) { /*hiding content for too small screens (where the warning displays)*/
    .about-main {
        display: none;
    }
}

@media (max-height: 440px) { /*fixes issues for screens not high enough*/
    .about-main {
        margin-top: 440px;
    }
    @media (max-width: 340px) {
        .about-main {
            margin-top: 560px;
        }
    }
}

/*animation classes*/
.about-main-animation-fade-in-right { /*class for triggering the fade in right animation*/
    animation: fade-in-right 200ms;
}
@keyframes fade-in-right { /*the items move a bit to the left and get visible*/
    from {
        transform: translateX(8%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.about-main-animation-fade-out-right { /*class for triggering the fade out right animation*/
    animation: fade-out-right 400ms;
}
@keyframes fade-out-right { /*the items move a bit to the right and get invisible*/
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(8%);
        opacity: 0;
    }
}

.about-main-animation-fade-in-left { /*class for triggering the fade in left animation*/
    animation: fade-in-left 200ms;
}
@keyframes fade-in-left { /*the items move a bit to the right and get visible*/
    from {
        transform: translateX(-8%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.about-main-animation-fade-out-left { /*class for triggering the fade out left animation*/
    animation: fade-out-left 400ms;
}
@keyframes fade-out-left { /*the items move a bit to the right and get invisible*/
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-8%);
        opacity: 0;
    }
}

.about-main-animation-fade-in-down { /*class for triggering the fade in down animation*/
    animation: fade-in-down 200ms;
}
@keyframes fade-in-down { /*the items move a bit down and get visible*/
    from {
        transform: translateY(30%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.about-main-animation-fade-out-up { /*class for triggering the fade out up animation*/
    animation: fade-out-up 400ms;
}
@keyframes fade-out-up { /*the items move a bit up and get invisible*/
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-30%);
        opacity: 0;
    }
}