/*The about banner is an area at the top with the about page with the introduction.*/

.about-banner { /*banner box, background and position*/
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    min-height: 420px; /*fixes issues for screens not high enough*/
    left: 0;
    top: 62px;
    background: var(--color-banner-gradient);
    overflow: hidden;
}

.about-banner-background-circle-top { /*background triangle at the upper right corner*/
    position: absolute;
    top: -50vh;
    width: 100vh;
    height: 100vh;
    border-radius: 50%; /*circle shape*/
    background-color: var(--color-banner-triangle-light);
}
.about-banner-background-circle-bottom { /*background triangle at the lower left corner*/
    position: absolute;
    bottom: -50vh;
    width: 100vh;
    height: 100vh;
    border-radius: 50%; /*circle shape*/
    background-color: var(--color-banner-triangle-dark);
}

.about-banner-content { /*positioning for the text and button*/
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 800px;
    color: var(--color-font);
    font-style: italic;
    font-size: 3.2rem;
    font-family: var(--font-serif);
    text-align: center;
}
.about-banner-content span { /*highlighted words*/
    font-size: 3.4rem;
    font-family: var(--font-heading);
    font-style: normal;
    line-height: 4rem;
    margin-left: 4px;
    margin-right: -4px;
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
}

.about-banner-bottom-transition { /*the shape at the bottom is an overlay in the same color as se next section*/
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: var(--color-background);
}
.about-banner-bottom-transition-shape-left { /*trapezoid shape at the left*/
    position: absolute;
    left: 0;
    bottom: 40px;
	border-right: 50px solid var(--color-transparent);;
    border-bottom: 50px solid var(--color-background);
	height: 0;
	width: 30vw;
}
.about-banner-bottom-transition-shape-right { /*trapezoid shape at the left*/
    position: absolute;
    right: 0;
    bottom: 40px;
	border-left: 50px solid var(--color-transparent);;
    border-bottom: 50px solid var(--color-background);
	height: 0;
	width: 30vw;
}

@media (max-width: 960px) { /*the bottom transition shapes are smaller on mobile devices to look better*/
    .about-banner-bottom-transition-shape-left {
        width: 20vw;
    }
    .about-banner-bottom-transition-shape-right {
        width: 20vw;
    }
}

@media (max-width: 720px) { /*adjusting too big text*/
    .about-banner-content {
        font-size: 2.2rem;
    }
    .about-banner-content span {
        font-size: 2.4rem;
    }
}

@media (max-width: 420px) {
    .about-banner {
        min-height: 480px;
    }
}

@media (max-width: 340px) {
    .about-banner {
        min-height: 520px;
    }
}

@media (max-width: 310px) {
    .about-banner {
        min-height: 560px;
    }
}

@media (max-width: 256px) {
    .about-banner {
        min-height: 620px;
    }
}

@media (max-width: 240px) { /*hides all at too small screens in order to show no responsive bugs*/
    .about-banner {
        display: none;
    }
}