/*the styles for the password reset modal are set up here*/

.sign-in-password-reset { /*password reset modal/box*/
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: calc(100% - 40px);
    height: 400px;
    max-height: calc(100% - 40px);
    background-color: rgba(32, 32, 32, 1);
    border-radius: 12px;
    transition: 400ms; /*fade in/out animation transition*/
    z-index: 4;
}