/*styles for most of the sign in and register page as well as the already signed in page*/

.sign-in-main { /*container with everything*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    border-radius: 10px;
    background-color: var(--color-container);
    overflow: hidden;
}

.sign-in-main-header { /*large heading*/
    color: var(--color-font);
    font-size: 3rem;
    font-family: var(--font-heading);
    text-align: center;
    margin-top: 40px;
}

.sign-in-main-error { /*error message popup*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 120px);
    color: var(--color-white);
    font-family: var(--font-default);
    padding: 24px 12px 0 12px;
    padding: 12px 8px 12px 16px;
    margin-top: -12px;
    margin-bottom: 24px;
    border: 1px solid var(--color-red-light);
    border-radius: 6px;
    background-color: var(--color-red-dark);
}
.sign-in-main-error-close { /*button for closing the error popup*/
    position: absolute;
    right: 12px;
    top: 45%;
    transform: translate(0, -50%);
    font-size: 1.6rem;
    color: var(--color-red-light);
    cursor: pointer;
}

.sign-in-main-success { /*sucess message popup, like error, but green*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 120px);
    color: var(--color-white);
    font-family: var(--font-default);
    padding: 24px 12px 0 12px;
    padding: 12px 8px 12px 16px;
    margin-top: -12px;
    margin-bottom: 24px;
    border: 1px solid var(--color-green-light);
    border-radius: 6px;
    background-color: var(--color-green-dark);
}
.sign-in-main-success-close { /*button for closing the sucess popup*/
    position: absolute;
    right: 12px;
    top: 45%;
    transform: translate(0, -50%);
    font-size: 1.6rem;
    color: var(--color-green-light);
    cursor: pointer;
}

.sign-in-main-third-party { /*buttons for third party authentication*/
    display: flex; /*display: flex creates columns*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 96px);
    height: 42px;
    gap: 16px; /*gap between buttons*/
    margin-bottom: 24px;
}
.sign-in-main-third-party > * { /*children of the class (used for layout)*/
    flex: 1; /*used for equal columns*/
}

.sign-in-main-google { /*sign in with google button*/
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 6px;
    background-color: var(--color-white);
    cursor: pointer;
    transition: background-color 200ms;
}
.sign-in-main-google:hover {
    background-color: var(--color-google-hover);
}
.sign-in-main-google-icon { /*google logo*/
    position: absolute;
    left: calc(25% - 44px);
    top: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - 10px);
}

.sign-in-main-apple { /*sign in with apple button*/
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 6px;
    background-color: var(--color-black);
    cursor: pointer;
    transition: background-color 200ms;
}
.sign-in-main-apple:hover {
    background-color: var(--color-apple-hover);
}
.sign-in-main-apple-icon { /*apple logo*/
    position: absolute;
    left: calc(50% - 40px);
    top: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - 8px);
    filter: invert(1);
}

.sign-in-main-facebook { /*sign in with facebook button*/
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 6px;
    background-color: var(--color-facebook);
    cursor: pointer;
    transition: background-color 200ms;
}
.sign-in-main-facebook:hover {
    background-color: var(--color-facebook-hover);
}
.sign-in-main-facebook-icon { /*afacebook logo*/
    position: absolute;
    left: calc(75% - 36px);
    top: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - 10px);
    filter: invert(1);
}

.sign-in-main-github { /*sign in with github button*/
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 6px;
    background-color: var(--color-github);
    cursor: pointer;
    transition: background-color 200ms;
}
.sign-in-main-github:hover {
    background-color: var(--color-github-hover);
}
.sign-in-main-github-icon { /*afacebook logo*/
    position: absolute;
    left: calc(100% - 32px);
    top: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - 10px);
    filter: invert(1);
}

.sign-in-main-input { /*input fields*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 120px);
    height: 42px;
    color: var(--color-font);
    font-size: 1.2rem;
    font-family: var(--font-default);
    padding: 0 12px 0 12px;
    margin-bottom: 24px;
    border: 1px solid var(--color-table);
    border-radius: 6px;
    background-color: var(--color-background);
    outline: none;
}

.sign-in-main-checkbox-label { /*checkbox label text*/
    position: relative;
    left: 96px;
    width: 240px;
    color: var(--color-font-gray);
    font-family: var(--font-default);
    margin: 0 0 -32px 0;
    z-index: 2;
}

.sign-in-main-forgot-password { /*password reset link*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
    color: var(--color-font-gray);
    font-family: var(--font-default);
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    transition: color 200ms;
}
.sign-in-main-forgot-password:hover { /*hover effect*/
    color: var(--color-font);
}

.sign-in-main-checkbox { /*checkbox position*/
    position: relative;
    left: 60px;
}
.sign-in-main-checkbox input { /*hides default checkbox*/
    display: none;
}
.sign-in-main-checkbox-style { /*actual checkbox styling*/
    width: 20px;
    height: 20px;
    border: 1.5px solid var(--color-table);
    border-radius: 4px;
    background-color: var(--color-background);
    margin-bottom: 30px;
    cursor: pointer;
    transition: background-color 200ms;
}
.sign-in-main-checkbox-style::after { /*check mark*/
    content: '\2713'; /*check mark symbol*/
    position: relative;
    left: 2.5px;
    top: -4.5px;
    color: var(--color-font);
    font-size: 1.3rem;
    opacity: 0; /*hidden on default*/
}
.sign-in-main-checkbox-style:hover { /*hover effect for checkbox*/
    background-color: var(--color-hover-input);
}
.sign-in-main-checkbox input:checked + .sign-in-main-checkbox-style { /*background color change on toggle*/
    border: 1.5px solid var(--color-black);
    background-color: var(--color-highlight-gradient-blue);
}
.sign-in-main-checkbox input:checked + .sign-in-main-checkbox-style::after { /*show checkmark on toggle*/
    opacity: 1;
}

.sign-in-main-text { /*password reset link and link to other page at the bottom*/
    position: relative;
    color: var(--color-font-gray);
    font-family: var(--font-default);
    margin-bottom: 20px;
    text-align: center;
}
.sign-in-main-text-link { /*changed color for links*/
    color: var(--color-font);
}

.sign-in-main-link { /*standalone links (other color)*/
    position: relative;
    color: var(--color-font-gray);
    font-family: var(--font-default);
    text-decoration: none;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    transition: color 200ms;
}
.sign-in-main-link:hover { /*hover effect*/
    color: var(--color-font);
}

.sign-in-main-button { /*sign in/register button*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 96px);
    height: 42px;
    text-align: center;
    margin-bottom: 24px;
    border: none;
    cursor: pointer;
}
.sign-in-main-button-background { /*gradient background*/
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: var(--color-highlight-gradient);
    transition: filter 200ms;
}
.sign-in-main-button-background-gray { /*gray background for the already signed in buttons*/
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: var(--color-container-button);
    transition: filter 200ms;
}
.sign-in-main-button-text { /*text which is not supposed to change color on hover*/
    position: absolute;
    top: 8px;
    transform: translate(-50%);
    color: var(--color-white);
    font-size: 1.4rem;
    font-family: var(--font-highlight);
    white-space: nowrap;
}

@media (max-width: 460px) { /*makes everything smaller on too small screens*/
    .sign-in-main {
        transform: translate(-50%, -50%) scale(0.8);
    }
}

@media (max-width: 320px) { /*makes everything even more smaller on way too small screens*/
    .sign-in-main {
        transform: translate(-50%, -50%) scale(0.6);
    }
}

@media (max-width: 240px) { /*hides everything on incompatible screen sizes*/
    .sign-in-main {
        display: none;
    }
}

@media (max-height: 720px) { /*scroll for less high screens (e.g. rotated mobile devices) in order to make everything visible*/
    .sign-in-main {
        top: 360px;
    }
}   