/*the styles for the password reset modal are set up here*/

.sign-in-password-reset { /*password reset modal/box*/
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: calc(100% - 40px);
    max-height: calc(100% - 40px);
    background-color: var(--color-background);
    border-radius: 12px;
    transition: transform 400ms, opacity 400ms; /*fade in/out animation transition*/
    z-index: 4;
    overflow-y: auto;
}

.sign-in-password-reset-close { /*x-button for closing modal*/
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-transparent);
    cursor: pointer;
    transition: background-color 200ms;
}
.sign-in-password-reset-close::after { /*x-shape*/
    content: '\d7'; /*symbol for shape*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: var(--color-font-gray);
}
.sign-in-password-reset-close:hover { /*background on hover*/
    background-color: var(--color-hover);
}

.sign-in-password-reset-title { /*modal title*/
    font-size: 1.8rem;
    color: var(--color-font);
    font-family: var(--font-highlight);
    text-align: center;
    margin: 32px 20px 24px 20px;
}

.sign-in-password-reset-error { /*error message popup*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 108px);
    color: var(--color-white);
    font-family: var(--font-default);
    padding: 24px 12px 0 12px;
    padding: 12px 8px 12px 16px;
    margin-bottom: 32px;
    border: 1px solid var(--color-red-light);
    border-radius: 6px;
    background-color: var(--color-red-dark);
}
.sign-in-password-reset-error-close { /*button for closing the error popup*/
    position: absolute;
    right: 12px;
    top: 45%;
    transform: translate(0, -50%);
    font-size: 1.6rem;
    color: var(--color-red-light);
    cursor: pointer;
}

.sign-in-password-reset-text { /*normal texts*/
    font-size: 1.1rem;
    color: var(--color-font);
    font-family: var(--font-default);
    margin-inline: 42px;
    margin-bottom: 20px;
}

.sign-in-password-reset-enter-email { /*strong text*/
    font-size: 1.2rem;
    color: var(--color-font);
    font-family: var(--font-highlight);
    margin-inline: 42px;
    margin-bottom: 16px;
}

.sign-in-password-reset-input { /*email input field*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 108px);
    height: 42px;
    color: var(--color-font);
    font-size: 1.2rem;
    font-family: var(--font-default);
    padding: 0 12px 0 12px;
    margin-bottom: 12px;
    border: 1px solid var(--color-table);
    border-radius: 6px;
    background-color: var(--color-background-dark);
    outline: none;
}

.sign-in-password-reset-button { /*send email button*/
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 80px);
    height: 42px;
    text-align: center;
    margin-bottom: 32px;
    background-color: var(--color-transparent);
    border: none;
    cursor: pointer;
}
.sign-in-password-reset-button-background { /*gradient background*/
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: var(--color-highlight-gradient);
    transition: filter 200ms;
}
.sign-in-password-reset-button-text { /*text which is not supposed to change color on hover*/
    position: absolute;
    top: 8px;
    transform: translate(-50%);
    color: var(--color-white);
    font-size: 1.4rem;
    font-family: var(--font-highlight);
    white-space: nowrap;
}

@media (max-width: 420px) { /*more efficient usage of space for small screens*/
    /*mostly inline margin and width of the items are changed*/
    .sign-in-password-reset-title {
        margin-top: 48px;
    }

    .sign-in-password-reset-error {
        width: calc(100% - 58px);
        font-size: 0.9rem;
    }

    .sign-in-password-reset-text {
        font-size: 1rem;
        margin-inline: 16px;
    }

    .sign-in-password-reset-enter-email {
        font-size: 1.1rem;
        margin-inline: 16px;
    }

    .sign-in-password-reset-input {
        width: calc(100% - 58px);
    }

    .sign-in-password-reset-button {
        width: calc(100% - 32px);
        margin-bottom: 16px;
    }
}

@media (max-width: 370px) { /*fixes button text overflow*/
    .sign-in-password-reset-button {
        height: 68px;
    }
    .sign-in-password-reset-button-text {
        width: calc(100% - 16px);
        white-space: unset;
    }
}

@media (max-width: 248px) { /*fixes button text overflow for very small screens*/
    .sign-in-password-reset-button {
        height: 94px;
    }
}

@media (max-width: 240px) { /*hides modal on too small screens*/
    .sign-in-password-reset {
        display: none;
    }
}