/*Tese styles are used for the alert showing on too small screens*/

.window-size-alert-backdrop { /*backdrop for warning*/
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-backdrop);
    z-index: 3;
}

.window-size-alert { /*container and text formatting*/
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    min-width: 100px;
    max-width: calc(100% - 32px);
    max-height: 90vh;
    text-align: center;
    font-size: 1.1rem;
    color: var(--color-font);
    font-family: var(--font-default);
    padding: 12px 12px 12px 12px;
    border-radius: 12px;
    background-color: var(--color-background);
}

.window-size-alert-heading { /*container header*/
    background: var(--color-highlight-gradient);
    font-size: 1.2rem;
    font-family: var(--font-highlight);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
}

@media (max-width: 240px) { /*defining screen width for showing the warning*/
    .window-size-alert-backdrop {
        display: block;
    }

    .window-size-alert {
        display: block;
    }
}