/*.tutorial-button {
    position: absolute;
    right: 2%;
    top: 12%;
    color: var(--current-red);
    background: var(--current-gray-light);
    font-size: 36px;
    font-family: var(--font-default);
    height: 56px;
    width: 56px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--color-shadow);
    cursor: pointer;
}*/
.back-button {
    border: solid;
    border-width: 8px 8px 1px 1px;
    border-color: var(--color-font) var(--color-font) var(--color-transparent) var(--color-transparent);
    border-radius: 6px 0;
    padding: 8px;
    position: absolute;
    left: 4em ;
    top: 6em;
    cursor: pointer;
    transform: rotate(225deg);
}
.back-button:hover{
    transform: scale(1.1) rotate(225deg);
}

.progress-bar {
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);
    width: 80%;
    height: 20px;
    background-color: var(--color-hover);
    border-radius: 20px;
}
.progress-bar-text {
    position: absolute;
    top: -19px;
    left: calc(100% + 8px);
    color: var(--color-font-gray);
    font-family: var(--font-default);
}
.progress-bar-fill {
    position: relative;
    top: 3px;
    height: 14px;
    width: 0;
    margin-inline: 4px;
    background-color: var(--current-blue);
    border-radius: 16px;
    transition: width 200ms;
}