/*.tutorial-button {
    position: absolute;
    right: 2%;
    top: 12%;
    color: var(--current-red);
    background: var(--current-gray-light);
    font-size: 36px;
    font-family: var(--current-font);
    height: 56px;
    width: 56px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--color-shadow);
    cursor: pointer;
}*/
.back-button {
    border: solid;
    border-width: 8px 8px 1px 1px;
    border-color: var(--color-font) var(--color-font) var(--color-transparent) var(--color-transparent);
    border-radius: 6px 0;
    padding: 8px;
    position: absolute;
    left: 4em ;
    top: 6em;
    cursor: pointer;
    transform: rotate(225deg);
}
.back-button:hover{
    transform: scale(1.1) rotate(225deg);
}