.password-reset-confirm-body {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    width: 660px;
    height: 450px;
    background-color: var(--color-background);
    border-radius: 10px;
    overflow-y: auto;
    z-index: 10;
    font-family: var(--current-font);
    color: var(--color-font);
}

.password-reset-title {
    /* modal heading */
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;
}

.password-reset-confirm-text {
    text-align: center;
    font-size: 18px;
    color: var(--color-red-light);
    font-weight: bold;
    color: var(--color-font);
}

.settings-delete-account-confirm-button {
    position: relative;
    width: calc(80% + 20px);
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid rgba(112, 112, 112, 1);
    border-radius: 3px;
    padding: 5px;
    color: white;
    background-color: rgba(112, 112, 112, 1);
    font-family: var(--current-font);
    font-size: 20px;
    cursor: pointer;
    margin-top: 1.5vw;
}