.gear {
  position: absolute;
  top: 2px;
  right: 40px;
  border: 1px transparent;
  background-color: var(--color-transparent);
  cursor: pointer;
  filter: invert(32%) sepia(7%) saturate(0%) hue-rotate(277deg) brightness(98%) contrast(89%);
}

.gear-img {
  transition: transform .15s ease-in-out;
  height: 45px;
  width: 45px;
}

.gear:hover .gear-img {
  transform: rotate(360deg);
  animation: spin 2s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}