/*styles for the mobile app section of the download page*/

.download-mobile { /*mobile app heading container*/
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    color: var(--color-font);
    max-width: 1200px;
    gap: 128px;
    margin-bottom: 240px;
    display: none;
}

.download-mobile-heading { /*mobile app heading*/
    font-size: 2.4rem;
    font-family: var(--font-heading);
    text-align: center;
    margin-top: 8px;
}

.download-mobile-content-heading { /*section heading slogan*/
    max-width: 600px;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: var(--font-highlight);
    line-height: 2.8rem;
    margin-top: 20px;
}
.download-mobile-content-text { /*section content*/
    max-width: 600px;
    font-size: 1.6rem;
    font-family: var(--font-default);
    line-height: 2.6rem;
    margin-bottom: 40px;
}
.download-mobile-content-text li { /*list items for the content*/
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 8px;
    list-style-type: '\2713   '; /*changes list indicator dots to checkmarks*/
}

.download-mobile-phone-image { /*container for the mobile phone image*/
    height: 600px;
    width: 400px;
    z-index: 0;
}
.download-mobile-phone-image-outside { /*the hardware part of the image*/
    position: absolute;
    height: 600px;
    z-index: 1;
}
.download-mobile-phone-image-content { /*the software/app/content part of the image*/
    position: relative;
    left: 73.5px;
    top: 32.5px;
    width: 247px;
    height: 534.5px;
}

.download-mobile-buttons { /*container for download buttons*/
    display: flex;
    gap: 40px;
}
.download-mobile-buttons > * { /*removing space around the buttons*/
    height: 72px;
    overflow: hidden;
}
.download-mobile-buttons > * > img { /*download buttons*/
    position: relative;
    top: -84px;
    width: 240px;
    cursor: pointer;
}

@media (max-width: 240px) { /*hides all at too small screens in order to show no responsive bugs*/
    .product-banner {
        display: none;
    }
}