/*This file includes most of the styles for the main part of the download page except the parts seperated in to pc and mobile.*/

.download-main { /*layout container for the content*/
    position: relative;
    left: 50%;
    margin-top: calc(100vh + 100px);
    transform: translate(-50%);
    max-width: 2400px;
    margin-bottom: 320px;
}

.download-main-heading { /*page heading*/
    font-size: 4rem;
    font-family: var(--font-heading);
    text-align: center;
    margin-bottom: 60px;
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
}

@media (max-width: 240px) { /*hides everything on too small screens*/
    .download-main {
        display: none;
    }
}