/*styles for the mobile app section of the download page*/

.download-mobile { /*mobile app heading container*/
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    color: var(--color-font);
    max-width: 1200px;
    gap: 128px;
    margin-bottom: 220px;
}

.download-mobile-content { /*headings and texts describing the mobile app*/
    max-width: 600px;
    margin-right: 48px;
}

.download-mobile-heading { /*mobile app heading*/
    font-size: 2.4rem;
    font-family: var(--font-heading);
    text-align: center;
    margin-top: 8px;
}
.download-mobile-heading-alt { /*alternative heading on small screens*/
    display: none;
    font-size: 4rem;
    font-family: var(--font-heading);
    text-align: center;
    background: var(--color-highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
}

.download-mobile-content-heading { /*section heading slogan*/
    font-size: 1.8rem;
    font-weight: 400;
    font-family: var(--font-highlight);
    line-height: 2.8rem;
    margin-top: 20px;
}
.download-mobile-content-text { /*section content*/
    font-size: 1.6rem;
    font-family: var(--font-default);
    line-height: 2.6rem;
    margin-bottom: 40px;
}
.download-mobile-content-text li { /*list items for the content*/
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 8px;
    list-style-type: '\2713   '; /*changes list indicator dots to checkmarks*/
}

.download-mobile-phone-image { /*container for the mobile phone image*/
    height: 600px;
    width: 400px;
    z-index: 0;
}
.download-mobile-phone-image-outside { /*the hardware part of the image*/
    position: absolute;
    height: 600px;
    z-index: 1;
}
.download-mobile-phone-image-content { /*the software/app/content part of the image*/
    position: relative;
    left: 73.5px;
    top: 32.5px;
    width: 247px;
    height: 534.5px;
}

.download-mobile-buttons { /*container for download buttons*/
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
    gap: 40px;
    margin-top: 40px;
}
.download-mobile-buttons > * { /*removing space around the buttons*/
    overflow: hidden;
}
.download-mobile-buttons > * > img { /*download buttons*/
    position: relative;
    width: 240px;
    cursor: pointer;
}

@media (max-width: 1160px) { /*optimization for tablets and small laptops*/
    .download-mobile {
        gap: 10%;
    }
    
    .download-mobile-content {
        max-width: 500px;
    }
    
    .download-mobile-buttons {
        gap: 20px;
    }
}

@media (max-width: 960px) { /*optimization for phones and tablets*/
    .download-mobile {
        flex-direction: column;
        width: fit-content;
        max-width: calc(100% - 40px);
        margin-top: 80px;
    }

    .download-mobile-content {
        margin-right: 0;
        margin-top: 160px;
    }

    .download-mobile-heading {
        display: none;
    }
    .download-mobile-heading-alt {
        display: block;
    }

    .download-mobile-phone-image {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-bottom: -40px;
    }

    .download-mobile-buttons {
        gap: 40px;
    }
}

@media (max-width: 560px) { /*optimization for phones*/
    .download-mobile {
        margin-top: 120px;
    }
    
    .download-mobile-heading-alt {
        font-size: 3.2rem;
        margin-top: -40px;
    }

    .download-mobile-content {
        margin-top: 60px;
    }

    .download-mobile-content-heading-alt {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }

    .download-mobile-content-text {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
    .download-mobile-content-text li {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }

    .download-mobile-phone-image {
        transform: translate(-50%) scale(0.9);
    }
    
    .download-mobile-buttons {
        flex-direction: column;
        margin-top: 60px;
    }
    .download-mobile-buttons img {
        width: 200px;
    }
}

@media (max-width: 360px) { /*makes phone image smaller to fit on smaller screens*/
    .download-mobile {
        margin-top: 40px;
    }

    .download-mobile-heading-alt {
        margin-top: 48px;
    }
    
    .download-mobile-phone-image {
        transform: translate(-50%, -60px) scale(0.7);
        margin-bottom: -120px;
    }
}

@media (max-width: 280px) { /*makes phone image smaller to fit on smaller screens*/
    .download-mobile-phone-image {
        transform: translate(-50%) scale(0.6);
    }
}

@media (max-width: 240px) { /*hides all at too small screens in order to show no responsive bugs*/
    .download-mobile {
        display: none;
    }
}


/*animation classes*/
.download-mobile-animation-fade-in-down { /*class for triggering the fade in down animation*/
    animation: fade-in-down 200ms;
}
@keyframes fade-in-down { /*the items move a bit down and get visible*/
    from {
        transform: translateY(6%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.download-mobile-animation-fade-out-down { /*class for triggering the fade out down animation*/
    animation: fade-out-down 400ms;
}
@keyframes fade-out-down { /*the items move a bit down and get invisible*/
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-6%);
        opacity: 0;
    }
}