/*This css file is only used for classes used very often and across multiple pages, as well as some global styles.*/

@font-face {
    /* Open Sans: default font */
    font-family: 'Open Sans';
    font-weight: 400;
    src: url('./fonts/open-sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    /* Rubik: larger font for subheadings or buttons */
    font-family: 'Rubik';
    font-weight: 400;
    src: url('./fonts/rubik/Rubik-VariableFont_wght.ttf');
}

@font-face {
    /* Heebo: large font for page headings */
    font-family: 'Heebo';
    font-weight: 800;
    src: url('./fonts/heebo/Heebo-VariableFont_wght.ttf');
}

:root {
    /*global fixed colors and fonts*/
    /*colors*/
    --color-highlight-gradient: linear-gradient(45deg, #23aaaa, #28b97d);
    --color-highlight-gradient-blue: #23aaaa;
    --color-backdrop: #000000bf;
    --color-table: #646464;
    --color-shadow: #00000066;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-red-light: #ff2828;
    --color-green-light: #14b414;
    --color-transparent: #00000000;
    --color-google-hover: #dddddd;
    --color-apple-hover: #121212;
    --color-facebook: #4267b2;
    --color-facebook-hover: #3c5f9b;
    --color-github: #6e5494;
    --color-github-hover: #645087;
    --color-select: #2850a080;
    /*values for correcting svg colors*/
    --svg-invert-white: invert(1);
    /*font families*/
    --font-default: 'Open Sans', sans-serif;
    --font-highlight: 'Rubik', sans-serif;
    --font-heading: 'Heebo', sans-serif;
}

/*global color variables for different visual modes (can be used with the var() expression)*/
#dark {
    /*dark mode (default)*/
    --color-font: #ffffff;
    --color-font-gray: #c8c8c8;
    --color-background: #202020;
    --color-hover: #373737bf;
    --color-hover-input: #2a2a2a;
    --color-hover-icon: #ffffff20;
    --color-background-dark: #121212;
    --color-background-dark-plus: #0a0a0a;
    --color-shadow-flashcard: #00000040;
    --color-red-dark: #5a2828;
    --color-green-dark: #144b14;
    /*values for correcting svg colors*/
    --svg-invert: invert(1);
    --svg-invert-gray: invert(0.78431372549019607843137254901961);
    --flame-color: invert(99%) sepia(1%) saturate(7500%) hue-rotate(299deg) brightness(109%) contrast(102%);
}

#light {
    /*light mode*/
    --color-font: #000000;
    --color-font-gray: #373737;
    --color-background: #eeeeee;
    --color-hover: #b5b5b5bf;
    --color-hover-input: #cbcbcb;
    --color-hover-icon: #00000020;
    --color-background-dark: #cbcbcb;
    --color-background-dark-plus: #bbbbbb;
    --color-shadow-flashcard: #777777cc;
    --color-red-dark: #802828;
    --color-green-dark: #146814;
    /*values for correcting svg colors*/
    --svg-invert: invert(0);
    --svg-invert-gray: invert(0.21568627450980392156862745098039);
    --flame-color: invert(0%) sepia(87%) saturate(7429%) hue-rotate(283deg) brightness(123%) contrast(100%);
}

:root {
    /*legacy colors (all old colors from the app which could be replaced in the future)*/
    --current-gray: #a0a0a0;
    --current-gray-light: #f6f7fb;
    --current-gray-dark: #141414;
    --current-blue: #36747d;
    --current-purple: #4c516d;
    --current-blue-dark: #0b3954;
    --current-red: #c0362c;
    --current-red-hover: #d2473d;
    --current-green: #2d9c45;
    --current-green-hover: #3ab454;
    --current-gray-medium-dark: #373737;
    --color-premium: #9d7111;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-transparent);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-background-dark);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-background-dark-plus);
}

::-webkit-scrollbar-corner {
    background-color: var(--color-transparent);
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--color-transparent);
}

body::-webkit-scrollbar-thumb {
    background-color: #121212;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #0a0a0a;
}

body::-webkit-scrollbar-corner {
    background-color: var(--color-transparent);
}

/* Home */
.page-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    overflow: hidden;
}

.sign-out-box {
    color: var(--color-white);
    margin: 32px auto;
    width: fit-content;
    font-size: 3ch;
    font-weight: 700;
    font-family: var(--font-default);
    position: relative;
    cursor: pointer;
    text-align: center;
    max-width: 100%;
    word-wrap: break-word;
    hyphens: manual;
    background-color: var(--current-blue);
    padding: 8px 16px;
    border-radius: 6px;
}



@media (max-width: 1900px) {

    /*responsiveness for flashcard layout*/
    .flashcard-base-grid {
        width: 1400px;
    }
}

@media (max-width: 1600px) {

    /*responsiveness for flashcard layout*/
    .flashcard-base-grid {
        width: 1200px;
    }
}

@media (max-width: 1400px) {

    /*responsiveness for flashcard layout*/
    .flashcard-base-grid {
        width: 950px;
    }
}

@media (max-width: 1150px) {

    /*responsiveness for flashcard layout*/
    .flashcard-base-grid {
        width: 700px;
    }
}

@media (max-width: 850px) {

    /*responsiveness for flashcard layout*/
    .flashcard-base-grid {
        width: 500px;
    }
}

@media (max-width: 620px) {

    /*responsiveness for flashcard layout*/
    .flashcard-base-grid {
        width: 420px;
    }

    .flashcard-body {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width: 505px) {

    /*responsiveness for flashcard layout*/
    .flashcard-base-grid {
        width: 200px;
    }

    .flashcard-body {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* CSS für AGB, Impressum und Datenschutz */

/* Css für Login */



.header-logo-login {
    width: 134.4px;
    max-width: 25%;
    position: absolute;
    cursor: pointer;
    top: 0%;
    left: 10px;
    transform: translate(0%, 50%);
}

.Login {
    position: absolute;
    font-family: var(--font-default);
    font-size: 25px;
    color: var(--current-gray);
    right: 10px;
    top: 9px;
    cursor: pointer;
}

.Signup {
    position: absolute;
    font-family: var(--font-default);
    font-size: 25px;
    color: var(--color-font);
    top: 9px;
    right: 115px;
    cursor: pointer;
}


.mail-form1 {
    text-align: center;
    position: absolute;
    top: 50px;
    left: 0%;
    width: 100%;
}

.mail-form {
    position: absolute;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    top: 30%;
    left: 40%;
}

.mail-input {
    border: 5px solid var(--current-gray);
    width: 80%;
    color: var(--color-font);
    background-color: var(--color-background);
    font-family: var(--font-default);
    font-size: 20px;
    padding: 5px 5px;
    outline: none;
    border-radius: 3px;
}

.password-form1 {
    text-align: center;
    position: absolute;
    top: 200px;
}

.password-form {
    position: absolute;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    top: 43%;
    left: 37.5%;
}

.password-input {
    border: 5px solid var(--current-gray);
    width: 80%;
    color: var(--color-font);
    background-color: var(--color-background);
    font-family: var(--font-default);
    font-size: 20px;
    padding: 5px 5px;
    outline: none;
    border-radius: 3px;
}

.password-label {
    position: relative;
    top: -40px;
    font-family: var(--font-default);
    font-size: 20px;
    color: var(--color-font);
    right: -85px;
}

/*study page*/
:root {
    --size: 0.85;
    --button: 1.7;
    --testing: 1.7;
}

/* custom text selection color */
::selection {
  background-color: var(--color-select);
  -webkit-text-fill-color: var(--color-font); /* is needed to fix gradient text */
}