/*this css file is only used for classes used very often and across multiple pages, as well as some global styles*/

body {
    background-color: rgba(32, 32, 32, 1);
}

/* Custom Scrollbar */
/*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: #292929;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(112, 112, 112, 1);
}
::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}*/

/* Home */
.Page_Header {
    height: 75px;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: transparent;
    overflow: hidden;
}
.page_title {
    display: -webkit-box;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: rgba(255,255,255,1);
    max-width: 40%;
    max-height: 75px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rechteck {
    background: transparent;
    border: 5px solid #274b65;
    width: 90%;
    height: calc(100% - 200px);
    margin: auto;
    position: absolute;
    top: 80px;
    left: 4.5%;
    border-radius: 3px;
    max-height: calc(100% - 120px);
    min-height: 168px;
}
.main-seperator {
    position: absolute;
    left: 5px;
    top: 45px;
    width: calc(100% - 10px);
    height: 0px;
    border-top: 5px solid rgba(58,109,112,1);
}
.Logo-oben {
    width: 134.4px;
    max-width: 25%;
    position: absolute;
    cursor: pointer;
    bottom: 50%;
    left: 10px;
    transform: translate(0%, 50%);
}
.gear {
    position: absolute;
    top: 3.75px;
    right: 3.75px;
    width: 30px;
    height: 30px;
    background-image: url(components/zahnrad.png);
    border: 1px #353535;
    cursor: pointer;
}
.File-Overview {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: #FFFF;
    top: -10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    width: calc(100% - 70px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Folder für Homepage */
.Folder_Base {
    height: calc(100% - 62px);
    width: calc(100% - 10px);
    margin: auto;
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: transparent;
    overflow: auto;
}
.Folder_Body {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: transparent;
}
.Button_Homepage {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 15px 15px;
    background-color: #353535;
    border: 5px solid cadetblue;
    border-radius: 3px;
    cursor: pointer;
}
.Button_Homepage_Text {
    position: absolute;
    bottom: 32%;
    left: 40px;
    max-width: calc(100% - 120px);
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: 1px transparent;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Button_Homepage_Settings {
    position: absolute;
    right: 0%;
    top: 20%;
    height: 10px;
    width: 25px;
    background-color: transparent;
    border: 5px solid transparent;
    cursor: pointer;
}
.No_Folder_Text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #bbb;
    font-size: 24px;
    padding: 11.5px;
}

/* bezieht sich auf die Drei Punkte (Button_Homepage_Settings), big-dot auf die Flashcard Settings */
.dot {
    height: 6px;
    width: 6px;
    background-color: #bbb;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    margin: 1px;
    left: 1px;
    top: -5.5px;
    cursor: pointer;
}
.big-dot {
    height: 8px;
    width: 8px;
    background-color: #bbb;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    margin: 2px;
    left: 1px;
    top: -5.5px;
    cursor: pointer;
}

/* ordner positionieren */
.Folder_Pos_Body_Up {
    background-color: transparent;
    border: 2.5px solid transparent;
    position: absolute;
    top: 3px;
    right: 40px;
    padding: 6px 9px;
    cursor: pointer;
}
.Folder_Pos_Arrow_Up {
    border: solid #bbb;
    border-width: 0 3.5px 3.5px 0;
    padding: 4.5px;
    position: absolute;
    left: 15%;
    top: 25%;
    cursor: pointer;
    transform: rotate(-135deg);
}
.Folder_Pos_Body_Down {
    background-color: transparent;
    border: 2.5px solid transparent;
    position: absolute;
    right: 40px;
    bottom: 13px;
    padding: 6px 9px;
    cursor: pointer;
}
.Folder_Pos_Arrow_Down {
    border: solid #bbb;
    border-width: 0 3.5px 3.5px 0;
    padding: 4.5px;
    position: absolute;
    left: 15%;
    bottom: 25%;
    cursor: pointer;
    transform: rotate(45deg);
}

/* New Folder Button*/
.New_Folder_Body {
    position: relative;
    top: 11.5%;
    width: 100%;
    height: 55px;
    background-color: transparent;
    border: transparent;
}
.New_Folder_Line {
    position: absolute;
    top: 0%;
    width: 100%;
    border-top: 5px solid rgba(112,112,112,1);
}
.Button_New_Folder {
    position: absolute;
    bottom: 0px;
    left: 0%;
    padding: 15px 15px;
    background-color: #353535;
    cursor: pointer;
    border: 5px solid cadetblue;
    border-radius: 3px;
}
.New_Folder_Text {
    position: absolute;
    bottom: 11.625%;
    left: 40px;
    max-width: calc(100% - 40px);
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: 1px transparent;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.New_Folder_Plus_h {
    position: absolute;
    top: 42.5%;
    left: 10.5%;
    width: 80%;
    border-top: 5px solid rgba(112,112,112,1);
}
.New_Folder_Plus_v {
    position: absolute;
    top: 10.5%;
    left: 42.5%;
    height: 80%;
    border-left: 5px solid rgba(112,112,112,1);
}

/* Feld für das Erstellen von Ordnern */
.Add_Folder_Form_Body {
    border: 5px solid #274b65;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    background-color: #353535;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 550px;
    height: 225px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100vw - 30px);
    max-height: calc(100vh - 30px);
    z-index: 10;
    border-radius: 6px;
    overflow-y: auto;
}
.Add_Folder_Form_Header {
    font-size: 24px;
}
.Add_Folder_Form_Text {
    font-size: 20px;
}
.Add_Folder_Form_Input {
    border: 5px solid rgba(58,109,112,1);
    width: 80%;
    color: white;
    background-color: #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px 5px;
    outline: none;
    border-radius: 3px;
}
.Add_Folder_Form_Submit {
    border: 5px solid rgba(58,109,112,1);
    padding: 5px;
    color: white;
    background-color: #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
}

/* Delete Folder Bestätigung */
.Delete_Folder_Confirm {
    border: 5px solid #274b65;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    background-color: #353535;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 300px;
    height: 160px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100vw - 30px);
    max-height: calc(100vh - 30px);
    z-index: 12;
    border-radius: 6px;
    overflow-y: auto;
}
.Delete_Folder_Confirm_Yes {
    border: 5px solid rgb(45, 119, 45);
    border-radius: 3px;
    padding: 5px;
    width: 60px;
    color: white;
    background-color: rgb(45, 119, 45);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    display: inline;
    left: 25%;
}
.Delete_Folder_Confirm_No {
    border: 5px solid rgb(228, 48, 48);
    border-radius: 3px;
    padding: 5px;
    width: 60px;
    color: white;
    background-color: rgb(228, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    display: inline;
    right: 25%;
}

/* Nachfolgendes ist alles für den Footer */
.Footer_Body {
    position: fixed;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-top: 2px solid rgba(112,112,112,1);
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 38px;
    background-color: #353535;
    text-align: center;
    overflow: auto;
}
.Footer_Body::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}
.MEMORITER {
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translate(0%, calc(-50% + 1px));
    overflow: visible;
    width: 92px;
    cursor: pointer;
}
.followUs {
    position: absolute;
    right: 36px;
    top: 50%;
    transform: translate(0%, -50%);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}
.rechteckLogo {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translate(0%, -50%);
    padding: 8px;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    background-color: rgba(112,112,112,1);
    cursor: pointer;
}
.instaIcon {
    position: absolute;
    right: 15%;
    bottom: 15%;
    width: 70%;
    height: 70%;
    cursor: pointer;
}
.footerLinks {
    background-color: transparent;
    width: calc(100% - 220px);
    max-height: 36px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    line-height: 18px;
}
.termsOfUse {
    color: rgba(39,75,101,1);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    cursor: pointer;
    display: inline;
}
.privacyPolicy {
    color: rgba(39,75,101,1);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    cursor: pointer;
    display: inline;
}
.impressum {
    color: rgba(39,75,101,1);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    cursor: pointer;
    display: inline;
}

/* Nachfolgender Code bezieht sich auf das Settingsoverlay */
.settings-overlay {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #343434;
    border: 5px solid #274b65;
    text-align: center;
    width: 210px;
    height: 155px;
    max-width: calc(100% - 30px);
    max-height: calc(100% - 30px);
    z-index: 10;
    position: absolute;
    right: 10px;
    top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}
.backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.settings-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    word-wrap: break-word;
    hyphens: manual;
}
.settings-sub {
    color: rgba(58,109,112,1);
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    text-align: left;
    max-width: 100%;
    word-wrap: break-word;
    hyphens: manual;
}

/* Nachfolgender Code bezieht sich auf das Settingsoverlay der Folder */
.folder-settings-overlay {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #333333;
    border: 5px solid #274b65;
    padding: 1rem;
    text-align: center;
    width: 3rem;
    height: 4rem;
    z-index: 10;
    position: absolute;
    right: 15px;
    top: 20px;
}
.folder-settings-sub {
    color: rgba(58,109,112,1);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    cursor: pointer;
    margin: 2px;
    width: 100%;
    top: -16%;
    font-weight: bold;
    left: -12%;
}

.Backdropfs {
    position: fixed;
    z-index: 1;
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}




/* AB HEIR BITTE NUR TOPIC PAGE ZEUGS */
.Flashcard_Base {
    height: calc(100% - 62px);
    width: 94%;
    margin: auto;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: transparent;
    overflow: auto;
}
.Zurückbutton_Body {
    background-color: transparent;
    border: 2.5px solid transparent;
    position: absolute;
    left: -1px;
    top: 9px;
    padding: 10px 15px;
    cursor: pointer;
    transform: rotate(270deg);
}
.Zurückbutton_Arrow {
    border: solid rgba(112, 112, 112, 1);
    border-width:6px 6px 0px 0px;
    padding: 8px;
    position: absolute;
    left: 12.5%;
    bottom: -30%;
    cursor: pointer;
    transform: rotate(-45deg);
}
.Flashcard_Body {
    position: relative;
    width: 240px;
    top: 20px;
    height: calc(240px * 1.5 - 20px);
    display: inline-block;
    background-color: transparent;
}
.Flashcard_Rechteck {
    position: absolute;
    left: 25px;
    top: 30px;
    height: calc(100% - 70px);
    width: calc(100% - 60px);
    border-bottom: 5px solid rgba(58,109,112,1);
    border-left: 5px solid rgba(58,109,112,1);
    border-right: 5px solid rgba(58,109,112,1);
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}
.Flashcard_Rechteck::after {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,
    #353535 5px,
    rgba(255,255,255,0) 25%
    );
    pointer-events: none;
}
.Flashcard_Title {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 90%;
    padding-left: 5%;
    position: relative;
    top: -10px;
    white-space: pre-line;
    word-wrap: break-word;
    hyphens: auto;
}
.Flashcard_Content {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    text-align: justify;
    width: 90%;
    left: 5%;
    top: -10px;
    overflow: hidden;
    white-space: pre-line;
    word-wrap: break-word;
    hyphens: auto;
    line-height: 120%;
}

/* Flashcard Settings */
.flashcard-settings-overlay {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #333333;
    border: 5px solid #274b65;
    padding: 1rem;
    text-align: center;
    width: 3rem;
    height: 4rem;
    z-index: 10;
    position: absolute;
    left: 45%;
    top: 3vh;
}
.Flashcard_Settings_Bar {
    position: absolute;
    width: calc(100% - 60px);
    left: 25px;
    height: 30px;
    background-color: transparent;
    border-top: 5px solid rgba(58,109,112,1);
    border-left: 5px solid rgba(58,109,112,1);
    border-right: 5px solid rgba(58,109,112,1);
    border-radius: 3px;
    cursor: pointer;
}
.Flashcard_Settings {
    position: absolute;
    right: 2%;
    top: 20%;
    height: 10px;
    width: 25px;
    background-color: transparent;
    border: 5px solid transparent;
    cursor: pointer;
}

/* Flashcard Position */
.Flashcard_Pos_Body_Left {
    background-color: transparent;
    border: 2.5px solid transparent;
    position: absolute;
    left: -2px;
    top: 20%;
    padding: 6px 9px;
    cursor: pointer;
    transform: rotate(-90deg);
}
.Flashcard_Pos_Arrow_Left {
    border: solid #bbb;
    border-width: 0 3.5px 3.5px 0;
    padding: 4.5px;
    position: absolute;
    left: 15%;
    top: 25%;
    cursor: pointer;
    transform: rotate(-135deg);
}
.Flashcard_Pos_Body_Right {
    background-color: transparent;
    border: 2.5px solid transparent;
    position: absolute;
    left: 18px;
    top: 20%;
    padding: 6px 9px;
    cursor: pointer;
    transform: rotate(270deg);
}
.Flashcard_Pos_Arrow_Right {
    border: solid #bbb;
    border-width: 0 3.5px 3.5px 0;
    padding: 4.5px;
    position: absolute;
    left: 15%;
    bottom: 25%;
    cursor: pointer;
    transform: rotate(45deg);
}

/*  Open Flashcard */
.Flashcard_Open_Body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 94vh;
    width: calc(94vh / 3 * 2);
    min-height: 160px;
    min-width: 120px;
    max-width: calc(100% - 160px);
    background-color: #353535;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border: 5px solid rgba(39,75,101,1);
    border-radius: 3px;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
}
.Flashcard_Open_Title {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    width: 90%;
    padding-left: 5%;
    white-space: pre-line;
    word-wrap: break-word;
    hyphens: auto;
}
.Flashcard_Open_Content {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    text-align: justify;
    width: 90%;
    min-height: 60vh;
    left: 5%;
    white-space: pre-line;
    word-wrap: break-word;
    hyphens: auto;
    line-height: 125%;
}
.Flashcard_Open_Settings {
    position: absolute;
    right: 8px;
    top: 15px;
    height: 10px;
    width: 36px;
    background-color: transparent;
    border: 5px solid transparent;
    cursor: pointer;
}
.flashcard-open-settings-overlay {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #333333;
    border: 5px solid #274b65;
    padding: 1rem;
    text-align: center;
    width: 3rem;
    height: 4rem;
    z-index: 11;
    position: absolute;
    right: 18px;
    top: 22px;
}
.flashcard-open-settings-overlay-position-field {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 94vh;
    width: calc(94vh / 3 * 2);
    min-height: 160px;
    min-width: 120px;
    max-width: calc(100% - 160px);
    z-index: 10;
    background-color: transparent;
}
.flashcard-open-settings-overlay-position-field-click {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: transparent;
}
.Close_Flashcard_Button {
    background-color: transparent;
    border: 2.5px solid transparent;
    position: absolute;
    left: -1px;
    top: 9px;
    padding: 10px 15px;
    cursor: pointer;
    transform: rotate(270deg);
}
.Close_Flashcard_Arrow {
    border: solid #bbb;
    border-width: 6px 6px 0px 0px;
    padding: 8px;
    position: absolute;
    left: 12.5%;
    bottom: -30%;
    cursor: pointer;
    transform: rotate(-45deg);
}
.Flashcard_Switch_Arrows {
    background-color: transparent;
    position: fixed;
    left: 50%;
    bottom: 4vh;
    transform: translate(-50%);
    height: 80px;
    width: calc(94vh / 3 * 2 + 160px);
    min-width: 260px;
    max-width: calc(100% - 20px);
    z-index: 9;
}
.Next_Flashcard {
    position: absolute;
    right: 0%;
    width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-left: 60px solid rgba(112, 112, 112, 1);
	border-bottom: 40px solid transparent;
    z-index: 10;
    cursor: pointer;
}
.Prev_Flashcard {
    position: absolute;
    left: 0%;
    width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-right: 60px solid rgba(112, 112, 112, 1);
	border-bottom: 40px solid transparent;
    z-index: 10;
    cursor: pointer;
}

/* New Flashcard Button*/
.New_Flashcard_Circle {
    position: absolute;
    top: calc(50% - 25% / 3 * 2 - 15px);
    left: calc(25% - 5px);
    width: 50%;
    height: calc(50% / 3 * 2);
    border: 5px solid rgba(58,109,112,1);
    border-radius: 50%;
    background-color: #274b65;
}
.New_Flashcard_Plus_h {
    position: absolute;
    top: calc(50% - 2.5px);
    left: 15%;
    width: 70%;
    border-top: 5px solid rgba(112,112,112,1);
}
.New_Flashcard_Plus_v {
    position: absolute;
    top: 15%;
    left: calc(50% - 2.5px);
    height: 70%;
    border-left: 5px solid rgba(112,112,112,1);
}

/* New Flashcard Form */
.Add_Flashcard_Form_Submit {
    position: relative;
    top: calc(100% - 253px);
    left: 10px;
    border: 5px solid rgba(58,109,112,1);
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 0px;
    width: calc(100% - 20px);
    color: white;
    background-color: #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
}
.Add_Flashcard_Form_Header {
    font-size: 24px;
    font-family: Arial,  Helvetica, sans-serif;
    text-align: center;
    color: white;
}
.Add_Flashcard_Form_Title {
    position: relative;
    left: 10px;
    width: calc(100% - 34px);
    color: white;
    text-align: center;
    background-color: #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 5px;
    outline: none;
    resize: none;
    border: 2px solid rgba(112, 112 ,112 ,1);
    border-radius: 3px;
}
.Add_Flashcard_Form_Content {
    position: absolute;
    left: 10px;
    width: calc(100% - 34px);
    height: calc(100% - 270px);
    color: white;
    text-align: justify;
    background-color: #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px 5px;
    outline: none;
    resize: none;
    border: 2px solid rgba(112, 112 ,112 ,1);
    border-radius: 3px;
}
.Edit_Flashcard_Open_Body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 94vh;
    width: calc(94vh / 3 * 2);
    min-height: 160px;
    min-width: 120px;
    max-width: calc(100% - 160px);
    background-color: #353535;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border: 5px solid rgba(39,75,101,1);
    border-radius: 3px;
    z-index: 12;
    overflow-x: hidden;
    overflow-y: auto;
}
.backdrop-open-flashcard {
    position: fixed;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.backdropfs-open-flashcard {
    position: fixed;
    z-index: 10;
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* CSS für AGB, Impressum und Datenschutz */
.Legal_Header {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 50px;
}
.Legal-SubHeader {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    color: white;
    line-height: 150%;
    width: 80%;
    left: 10%;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 40px;
}
.Legal_Text {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    color: white;
    line-height: 150%;
    width: 80%;
    left: 10%;
}

/* Css für Login */
.Login_Base_Scroll {
    position: absolute;
    background-color: transparent;
    height: calc(100% - 62px);
    width: calc(100% - 10px);
    left: 5px;
    bottom: 5px;
    overflow: auto;
}
.Login_Base {
    position: absolute;
    background-color: transparent;
    height: 100%;
    width: 550px;
    max-width: 100%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
}
.Logo-oben-login {
    width: 134.4px;
    max-width: 25%;
    position: absolute;
    cursor: pointer;
    top: 0%;
    left: 10px;
    transform: translate(0%, 50%);
}
.Login {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    color: gray;
    right: 10px;
    top: 9px;
    cursor: pointer;
}
.Signup {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    color: white;
    top: 9px;
    right: 115px;
    cursor: pointer;
}
.link-box {
    width: 140px;
    fill: none;
    border: 5px solid #274b65;
    border-radius: 3px;
    max-width: 25%;
    position: absolute;
    cursor: pointer;
    bottom: 50%;
    right: 10px;
    transform: translate(0%, 50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}
.mail-form1 {
    text-align: center;
    position: absolute;
    top: 50px;
    left:0%;
    width: 100%;
}
.mail-form {
    position: absolute;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    top: 30%;
    left: 40%;
}
.mail-input {
    border: 5px solid rgba(58,109,112,1);
    width: 80%;
    color: white;
    background-color: #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px 5px;
    outline: none;
    border-radius: 3px;
}
.password-form1 {
    text-align: center;
    position: absolute;
    top: 200px;
}
.password-form {
    position: absolute;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    top: 43%;
    left: 37.5%;
}
.password-input {
    border: 5px solid rgba(58,109,112,1);
    width: 80%;
    color: white;
    background-color: #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px 5px;
    outline: none;
    border-radius: 3px;
}
.password-label {
    position: relative;
    top: -40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    right: -85px;
}
.LoginButton {
    height: 50px;
    width: 125px;
    border-radius: 5px;
    background-color: #265272;
    position: absolute;
    top: 320px;
    left: 50%;
    border: 3px solid #3B6E71;
    cursor: pointer;
    font-size: 20px;
    color: white;
    transform: translate(-50%);
}
.forgot-password {
    position: relative;
    top: 10px;
    color: #265272;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-align: center;
    margin-bottom: 24px;
    text-decoration: underline;
    font-size: 16px;
    width: fit-content;
    left: 50%;
    transform: translate(-50%);
}
.no-account {
    position: relative;
    top: 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    display: inline-block;
}
.passwords-no-match {
    color: rgb(228, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    left: 8%;
    margin-top: 2px;
}

.accept_privacy {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 300px;
    left: 50%;
    transform: translate(-50%);
}
.accept_privacy [type="checkbox"] {
    -webkit-appearance: none;
}
.accept_privacy [type="checkbox"] + label {
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.accept_privacy [type="checkbox"] + label::before {
    border: 3.5px solid rgba(58,109,112,1);
    border-radius: 3px;
    background-color: #353535;
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
    position: relative;
    margin-top: -3px;
}
.accept_privacy [type="checkbox"]:checked+label::before {
    box-shadow: inset 0px 0px 0px 3px #353535;
    background-color: rgba(58,109,112,1);
}

.accept_privacy_red {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 300px;
    left: 50%;
    transform: translate(-50%);
}
.accept_privacy_red [type="checkbox"] {
    -webkit-appearance: none;
}
.accept_privacy_red [type="checkbox"] + label {
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.accept_privacy_red [type="checkbox"] + label::before {
    border: 3.5px solid rgb(228, 48, 48);
    border-radius: 3px;
    background-color: #353535;
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
    position: relative;
    margin-top: -3px;
}
.accept_privacy_red [type="checkbox"]:checked+label::before {
    box-shadow: inset 0px 0px 0px 3px #353535;
    background-color: rgb(228, 48, 48);
}

/* sign in with google stuff */
.google-button {
    width: 125px;
    height: 50px;
    border-radius: 5px;
    background-color: #4286f5;
    border-color: #4286f5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 320px;
    right: 20%;
}


/* Indikatoren */
.flashcard-pos-indicator {
    color: red;
    font-size: large;
    position: absolute;
    left: 80px;
    top: 10px;
}

.box {
    height: 38px;
    width: 185px;
    background-color: red;
    opacity: 0.6;
    position: absolute;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 43%;
    border-radius: 5px;
    top: 4px;
}
.text {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: -5px;
    left: 4px;
}
.check_text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 20px;
}
.check_total {
    position: relative;
    align-content: center;
    margin: auto;
    width: 50%;
    left: 17%;
    top: 80%;
}

/*Startpage*/
/*Header der Startpage*/
.StartpageHeader {
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 1em;
  background-color: black;
}

.StartpageHeaderLogo {
  height: 2em;
  vertical-align: middle;
}

.StartpageHeaderSpan {
  position: fixed;
  right: 0px;
  margin-right: 1em;
}

.StartpageHeaderButton {
  background-color: white;
  margin-left: 1em;
  border: 1px solid black;
}

/*Startpage Content*/
/*Section 1*/
.StartpageSection1 {
  position: relative;
  background-color: blue;
  top: 100px;
}

.StartpageSectionPicture {
  width: 33%;
  position: relative;
}

.StartpageSectionText {
  color: white;
  width: 67%;
  text-align: center;
  position: absolute;
  max-height: 100%;
  overflow: hidden;
  border: 10px solid black;
}

/* Alles für die StartPage*/

.Logo-Start {
    width: 230px;
    max-width: 25%;
    position: absolute;
    cursor: pointer;
    top: 15%;
    left: 2%;
}

.Page_Header-Start {
    height: 110px;
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    background-color: transparent;
    overflow: hidden;
}
/* Darauf basieren sich die Rechtecke
.Flashcard_Open_Body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 94vh;
    width: calc(94vh / 3 * 2);
    min-height: 160px;
    min-width: 120px;
    max-width: calc(100% - 160px);
    background-color: #353535;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border: 5px solid rgba(39,75,101,1);
    border-radius: 3px;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
}
*/
.rechteck-Start1 {
    background: transparent;
    border: 5px solid rgba(39,75,101,1);
    width: calc(94vh / 3 * 2);
    height: 94vh;
    margin: auto;
    position: absolute;
    border-radius: 3px;
    min-height: 160px;
    min-width: 120px;
    max-width: calc(100% - 160px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    top: 110px;
    left: 10%;
}
.Start1-Text {
    position: absolute;
    left: 10px;
    text-align: left;
    color: #FFFF;
    top: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    width: 100%;
    line-height: 1.8;
}
.rechteck-Start1a {
    background: rgba(47,78,110,1);
    width: 100%;
    position: relative;
    margin: 0px 0px 0px 0px;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 85px;
}
.Start1a-Text {
    position: relative;
    color: #FFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 28.76px;
    line-height: 1.8;
    text-align: center;
    width: 50%;
    left: 25%;
}
.About_Us-Start {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-decoration: underline;
}
/*
.About_Us-Start:after {
    content: '';
    position: absolute;
    width: 120px;
    transform: scaleX(0);
    height: 2px;
    bottom: 10px;
    left: 348px;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}*/
.About_Us-Start:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.Start2-Text {
    position: absolute;
    left: 10px;
    text-align: left;
    color: #FFFF;
    top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    width: 99%;
    line-height: 1.8;
}
.rechteck-Start3 {
    background: transparent;
    border: 5px solid rgba(39,75,101,1);
    width: calc(94vh / 3 * 2);
    height: 94vh;
    margin: auto;
    position: absolute;
    border-radius: 3px;
    min-height: 160px;
    min-width: 120px;
    max-width: calc(100% - 160px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    top: 90%;
    right:55%;
}

.Start3-Text {
    position: absolute;
    left: 5%;
    right: 5%;
    text-align: left;
    color: #FFFF;
    top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    width: 90%;
    
}
.SignupButton-Start {
    height: 60px;
    width: 175px;
    border-radius: 5px;
    background-color: #265272;
    position: absolute;
    bottom: 25%;
    right: 30px;
    border: 3px solid #3B6E71;
    cursor: pointer;
    font-size: 23px;
    color: white;
}
.LoginButton-Start {
    height: 60px;
    width: 175px;
    border-radius: 5px;
    background-color: #353535;
    position: absolute;
    bottom: 25%;
    right: 220px;
    border: 3px solid #3B6E71;
    cursor: pointer;
    font-size: 23px;
    color: white;
}
.Katze {
    width: 501px;
    right: 0px;
    position: absolute;
}

@media (max-width: 500px) {
    .LoginButton-Start {
        right: 130px; 
        width: 120px; 
    }
    .SignupButton-Start {
        width: 120px;
        right:4px
    }
   .Logo-Start {
        max-width:170px;
    }
    
    .rechteck-Start1a {
        height: 655px;

    }
    .Start1a-Text {
        left: 10px;
        font-size: 20px;
        width: 90%;
        line-height: 1.8;
        left:5%;

    }
}


/* Nachfolgendes ist alles für den Footer für den Start*/
.Footer_Body-Start {
    position: absolute;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-top: 2px solid rgba(112,112,112,1);
    left: 0%;
    width: 100%;
    height: 400px;
    background-color: #141414;
    text-align: center;
    overflow: auto;
    margin-top: 100px;
}
.Footer_Body::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}
.MEMORITER-Start {
    position: absolute;
    left: calc(50% - 175px/2);
    top: 70%;
    transform: translate(0%, calc(-50% + 1px));
    overflow: visible;
    width: 175px;
    cursor: pointer;
}
.Company-Start {
    position: absolute;
    right: 55%;
    top: 20%;
    transform: translate(0%, -50%);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    transform: translate(-50%, 0%, 0%, 0%);
}
.followUs-Start {
    position: absolute;
    left: 55%;
    top: 20%;
    transform: translate(0%, -50%);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    
}
.rechteckLogo-Start {
    position: absolute;
    left: calc(50% + 115px);
    top: 34%;
    transform: translate(0%, -50%);
    padding: 8px;
    border-radius: 5px;
    width: 55px;
    height: 55px;
    background-color: #141414;
    cursor: pointer;
}
.instaIcon-Start {
    position: absolute;
    left: 55%;
    bottom: 15%;
    width: 70%;
    height: 70%;
    cursor: pointer;
    transform: translate(-50%);
}
.Line-Start1 {
    background-color: rgba(112,112,112,1);
    border: 2px solid rgba(112,112,112,1);
    width: 25%;
    height: 0px;
    margin: auto;
    position: absolute;
    border-radius: 3px;
    top:70%;
    right: 50px;  
    transform: translate(-50%);
}
.Line-Start2 {
    background-color: rgba(112,112,112,1);
    border: 2px solid rgba(112,112,112,1);
    width: 25%;
    height: 0px;
    margin: auto;
    position: absolute;
    border-radius: 3px;
    top:70%;
    left: 50px;
    transform: translate(50%);
}
.Line-Start-vertikal {
    background-color: rgba(112,112,112,1);
    border: 2px solid rgba(112,112,112,1);
    width: 0px;
    height: 40%;
    margin: auto;
    position: absolute;
    border-radius: 3px;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
}

@media (max-width: 500px) {
    .followUs-Start {
        position: absolute;
        right: 10%;
    }
    .rechteckLogo-Start {
        position: absolute;
        right: 20%;
    }
    .Footer_Body-Start{
        bottom: -350%;
        height:450px;
        width:100%;
    }
    .Line-Start1{
        left:72%;
    }
    .Line-Start2{
        right:72%;
    }
}
/* Dieser css bezieht sich auf die Links und ihre animation*/
.footerLinks-Start {
    background-color: transparent;
    width: 500px;
    max-height: 36px;
    position: absolute;
    line-height: 20px;
    left:1px;
}
   
.privacyPolicy-Start {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    position:absolute;
    text-decoration: none;
}
.privacyPolicy-Start:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.privacyPolicy-Start:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.termsOfUse-Start {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    position:absolute;
    top:30px;
    text-decoration: none;
}
.termsOfUse-Start:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.termsOfUse-Start:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.impressum-Start {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    position:absolute;
    top: 30px;
    text-decoration: none;
}
.impressum-Start:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.impressum-Start:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.About-Start{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    position:absolute;
    top: 60px;
    text-decoration: none;
    display: inline-block;   
}
.About-Start:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.About-Start:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }
/* Johan Startpage*/
.how-does-it-work-body {
    position: relative;
    width: 33%;
    top: 20px;
    height: 650px;
    display: inline-block;
    max-width: 100%;
    min-width: 350px;
}
.how-does-it-work {
    position: absolute;
    height: 555px;
    width: 80%;
    border-radius: 7.5px;
    border: 7.5px solid rgba(58,109,112,1);
    left: 10%;
    overflow-y: auto;
}
.QA-Flashcards {
    position: relative;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 50px;
}
.QA-flashcard-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0px 30px 0px 30px;
}
.QA-flashcard-content {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 27px;
    text-align: justify;
    padding: 0px 21px 0px 21px;
}
.bold {
    font-weight: bold;
}
.why-list {
    line-height: 35px;
    text-align: left;
}